// Colors

$blue: #009BCD;
$darkblue: #007EA6;
$darkgrey: #444444;
$lightgrey: #808080;
$text-color: #444444;
$bg-color: #E3E5E7;
$highlight-color: rgba(0,155,205,0.35);


// Fonts

$font-fam: 'museo-sans-1', 'museo-sans-2', sans-serif;