@import "constants";

body {
	background: $bg-color;
	font: normal 300 100%/1.5 $font-fam;
	margin: 0;
}
	
::selection {
    background: $highlight-color;
	}
::-moz-selection {
	background: $highlight-color;
}

img {
	border: none;
}

ul {
	padding: 0;
	margin: 0;
}

@-webkit-keyframes intro {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
			
@-moz-keyframes intro {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes intro {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

header {
	-webkit-animation: intro 1.25s ease-out 0.15s forwards;
	-moz-animation: intro 1.25s ease-out 0.15s forwards;
	animation: intro 1.25s ease-out 0.15s forwards;
	color: $text-color;
	opacity: 0;
	margin: 0 auto;
	width: 100%;
	line-height: 1.8em;
	font-size: 1.1em;
	text-align: center;
}

.no-cssanimations header {
	opacity: 1;
}

header .nav, header .divider {
	color: rgba(68,68,68,0.5);
	font-weight: 300;
	vertical-align: top;
}

header h1 {
	line-height: 1em;
	font-size: 1.5em;
	padding-bottom: 3.5%;
	border-bottom: 1px solid $blue;
}

header a {
	-webkit-transition: color 0.35s ease-out;
	-moz-transition: color 0.35s ease-out;
	transition: color 0.35s ease-out;
	color: $blue;
	text-decoration: none;
}

header p {
	margin: 0 2.5%;
	text-align: left;
}

header h1 ul {
	list-style: none;
	display: inline-block;
	line-height: 1.3em;
}

#current_page {
	cursor: pointer;
}

.PageMenu {
	-webkit-transition: border-bottom 0.3s ease-out;
	-moz-transition: border-bottom 0.3s ease-out;
	transition: border-bottom 0.3s ease-out;
	display: none;
	position: absolute;
	background: rgba(228,230,232,0.75);
	border-bottom: 0 solid $blue;
}

.PageMenu.shown {
	border-bottom: 2px solid $blue;
}

.PageMenu a {
	color: rgba(68,68,68,0.5);
}

.PageMenu a:hover {
	color: rgba(68,68,68,0.85);
}

/* Desktop */
@media screen and (min-width: 699px) {
	header .nav:hover {
		color: $blue;
	}
	
	header .nav:active {
		color: $darkblue;
	}

header {
	margin: 2% auto 0;
	width: 65%;
	font-size: 1.2em;
	line-height: 2em;
	text-align: justify;
}

	header a:hover {
		color: $darkblue;
	}
	
	header a:active {
		color: $darkgrey;
	}

header h1 {
	line-height: 1.1em;
	font-size: 2em;
	padding-bottom: 0;
	border-bottom: none;
}

header p {
	margin: 0;
}
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
header {
	width: 80%;
}
}