@import 'constants';

body {
	margin: 0;
	color: $text-color;
	background: $bg-color;
	font: 300 100%/1.5 $font-fam;
}

::selection {
	background: $highlight-color;
}

a {
	transition: color 0.35s ease;
	color: $blue;
	text-decoration: none;
}

a:hover {
	color: $darkblue;
}

a:active {
	color: $darkgrey;
}

img {
	border: none;
}

ul {
	padding: 0;
	margin: 0;
}

@keyframes intro {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

header {
	animation: intro 1.25s ease-out 0.15s forwards;
	position: relative; /* Create stacking context and set z-index */
	z-index: 3;
	width: 100%;
	max-width: 40em;
	margin: 0 auto;
	opacity: 0;
	font-size: 1.1em;
	line-height: 1.8em;
	text-align: center;
}

.no-cssanimations header {
	opacity: 1;
}

header .nav, header .divider {
	color: rgba(68,68,68,0.5);
	font-weight: 300;
	vertical-align: top;
}

.no-touch header .nav:hover {
	color: $blue;
}

.no-touch header .nav:active {
	color: $darkblue;
}

.no-touch header a:hover {
	color: $darkblue;
}

.no-touch header a:active {
	color: $darkgrey;
}

header h1 {
	padding-bottom: 3.5%;
	border-bottom: 1px solid $blue;
	margin: 0.65em 0;
	font-size: 1.5em;
	line-height: 1em;
}

header p {
	margin: 0 2.5%;
	text-align: left;
}

header h1 ul {
	display: inline-block;
	line-height: 1.3em;
	list-style: none;
}

#current_page {
	cursor: pointer;
}

.PageMenu {
	transition: border-bottom 0.3s ease;
	display: none;
	position: absolute;
	border-bottom: 0 solid $blue;
	background: rgba(228,230,232,0.75);
	text-align: left;
}

.PageMenu.shown {
	border-bottom: 2px solid $blue;
}

.PageMenu a {
	color: rgba(68,68,68,0.5);
}

.no-touch .PageMenu a:hover {
	color: rgba(68,68,68,0.85);
}

.license {
	display: block;
	width: 80%;
	margin: 2.5% auto;
	color: $darkgrey;
}

.license p {
	font-size: 0.9em;
}

.license a {
	transition: color 0.3s ease;
	color: $darkgrey;
}

.no-touch .license a:hover {
	color: $blue;
}

.no-touch .license a:active {
	color: $darkblue;
}


/* Tablet */
@media screen and (min-width: 35em) {
	header {
		width: 85%;
		margin: 2% auto 0;
		font-size: 1.2em;
		line-height: 2em;
		text-align: justify;
	}

	header h1 {
		padding-bottom: 0;
		border-bottom: none;
		font-size: 2em;
		line-height: 1.1em;
	}

	header p {
		margin: 0;
	}

	.license {
		float: left;
		width: 22.5%;
		margin: 0 0 2.5% 2.5%;
	}
}


/* Desktop */
@media screen and (min-width: 50em) {
	header {
		width: 65%;
	}
}