/* Share Sheet */
@keyframes fade-in {
	0% {opacity: 0; visibility: visible;}
	100% {opacity: 1;}
}

@keyframes fade-out {
	0% {opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}

#darklayer {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	visibility: hidden;
}

#darklayer.loaded {
	visibility: visible;
}

#darklayer.on {
	animation: fade-in 0.25s ease-out forwards;
}

.no-cssanimations #darklayer.on {
	display: block;
}

#darklayer.off {
	animation: fade-out 0.25s ease-out forwards;
}

.no-cssanimations #darklayer.off {
	display: none;
}

.Sheet {
	transition: transform 0.25s ease-out;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	z-index: 10;
	user-select: none;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
	font-weight: 300;
	visibility: hidden;
	background: rgba(248,248,248,0.95);
}

.Sheet.loaded {
	visibility: visible;
}

.Sheet.unselected {
	transform: translateY(100%);
}

.Sheet.selected {
	transform: translateY(0%);
}

.itemset {
	padding: 20px 0 5px;
	text-align: left;
}

.itemset section {
	white-space: nowrap;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	padding: 20px 1.5%;
}
	
	.itemset section:first-of-type {
		padding-top: 0;
	}
	
	.itemset section:last-of-type {
		padding-bottom: 0;
		border-top: 1px solid #969DA2;
	}
	
	.itemset section:only-child {
		padding-top: 0;
		padding-bottom: 0;
		border-top: none;
	}

.itemset .itemcontainer {
	display: inline;
	text-align: center;
	margin: 0;
}

.itemset li {
	display: inline-block;
	margin: 0 auto;
	width: 70px;
	height: 100%;
	line-height: 1.3em;
	font-size: 12px;
	color: #000000;
	text-align: center;
	vertical-align: top;
	white-space: normal;
}

.itemset li img {
	border-radius: 10px;
}

.appicon {
	height: 60px;
	width: auto;
}

.cancel {
	padding: 5px 0;
	margin: 0;
	line-height: 2em;
	font-size: 22px;
	font-weight: 400;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #0076FF;
	cursor: pointer;
}

.cancel.touched, .cancel:active {
	background: #D9D9D9;
}

/* Landscape */
@media screen and (orientation:landscape) {

.itemset {
	padding-top: 10px;
}

.itemset .itemcontainer {
	margin: 0 7px;
}

	.itemset .itemcontainer:first-child {
		margin-left: 0;
	}
	
	.itemset .itemcontainer:last-child {
		margin-right: 0;
	}
}

/* Tablet */
@media only screen and (min-width: 35em) {
.itemset section {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.itemset .itemcontainer {
	width: 24.5%;
}

.itemset .itemcontainer {
	margin: 0 5%;
}

	.itemset .itemcontainer:first-child {
		margin-left: 0;
	}
	
	.itemset .itemcontainer:last-child {
		margin-right: 0;
	}
	
.appicon {
	height: 75px;
	width: auto;
}
}

/* Desktop */
/* Note: Sharing Sheets are not intended for use on desktop screen sizes */
@media only screen and (min-width: 50em) {
.itemset {
	padding-top: 2em;
}
}