@import 'constants';
@import 'project';

.screenshot-box {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 10em;
	background: $darkgrey;
	
	.bubble {
		color: #FFF;
		border-radius: 0.35em;
		background: rgba(127, 127, 127, 0.9);
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
		padding: 0.1em 0;
		text-align: center;
		font-size: 1.25em;
		margin: 0 auto;
		position: absolute;
		bottom: 5%;
		left: 0;
		right: 0;
		z-index: 3;
		max-width: 40%;
		display: inline-block;
		pointer-events: none;
	}
	
	a {
		display: block;
	}
	
	img {
		animation: pop-closed 0.75s linear 0.75s;
		display: block;
		position: relative;
		top: 1em;
		width: 75%;
		margin: 0 auto;
		box-shadow: 0 0 5px rgba(0,0,0,0.75);
	}
	
	.no-touch & a img {
		transition: opacity 0.25s ease-out, transform 0.25s ease;
		transform: translateY(0%);
		opacity: 1;
	}
	
	.no-touch & a:hover img {
		transform: translateY(-5%);
	}
	
	.no-touch & a:active img {
		transform: translateY(0%);
		opacity: 0.75;
	}
}

@keyframes pop-closed {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(15%);
	}
	60% {
		transform: translateY(5%);
	}
}

.content-container {
	position: relative;
	z-index: 2;
	background: $bg-color;
	box-shadow: 0 0.5em 2em rgba(0,0,0,0.5);
}

.content {
	animation: intro 1.25s ease-out 0.75s forwards;
	width: 92.5%;
	padding-top: 5%;
	margin: 0 auto;
	opacity: 0;
	text-align: center;
}

.no-cssanimations .content {
	opacity: 1;
}

.content section {
	display: flex;
	max-width: 50em;
	padding: 0 0 5%;
	margin: 0 auto;
	text-align: left;

	align-items: flex-start;
}

.no-flexbox .content section {
	clear: both;
}

.section-head {
	width: 4em;
	max-width: 200px;
	height: auto;
	max-height: 200px;
	margin-top: 1em; /* Aligns section head with top of paragraph */

	flex: 0 1 auto;
}

.no-flexbox .section-head {
	float: left;
}

.desc {
	margin: 0 auto;
	font-size: 1em;
	line-height: 1.5;

	flex: 4 3 75%;
}

.no-flexbox .desc {
	overflow: hidden;
}

.desc p {
	margin: 0.5em 0;
}

.options .button {
	margin-right: 0.5em;
	
	$active-button: #35495D;
	
	&:last-child {
		margin-right: 0;
	}
	
	&.demo {
		background: #E62A8B;
		
		&:hover {
			background: #CC257B;
		}
		
		&:active {
			background: $active-button;
		}
	}
	
	&.download,
	&.buy {
		background: #29E677;
		
		&:hover {
			background: #24CC6A;
		}
		
		&:active {
			background: $active-button;
		}
	}
	
	&.release-notes {
		background: #29C2E5;
		
		&:hover {
			background: #25ADCC;
		}
		
		&:active {
			background: $active-button;
		}
	}
	
	&.docs {
		background: #E6512A;
		
		&:hover {
			background: #CC4825;
		}
		
		&:active {
			background: $active-button;
		}
	}
}

.email-bg {
	background: #444;
	color: #FFF;
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
}

section.email {
	max-width: 40em;
	width: 92.5%;
	font-size: 1.25em;
	
	h2 {
		margin: 1.5% 0 2.5%;
	}
	
	input[type="email"] {
		transition: border-color 0.25s ease;
		color: #444;
		font-size: 1em;
		padding: 0.25em 0.5em;
		border: 2px solid #009BCD;
		border-radius: 0.35em;
		outline: none;
		margin: 0;
		
		&:hover,
		&:focus  {
			border-color: #00CC48;
		}
	}
	
	input[type="submit"] {
		font-size: 1em;
		padding: 0.3em 0.5em;
	
		&:hover {
			background: #00CC48;
		}
		
		&:active,
		&:focus {
			background: #00A23A;
		}
	}
}

section.donate {
	padding-bottom: 5%;
	margin-bottom: 0;
}

.button {
	transition: background 0.25s ease-out;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.25em 0.5em;
	border: none;
	border-radius: 0.35em;
	margin: 2.5% auto 1.25%;
	color: #FFFFFF;
	background: $blue;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;

	-webkit-appearance: none;
}

.button:hover, .button:active, .button:focus {
	outline: none;
	color: #FFFFFF;
}

.donate .button {
	background: $blue;
}

.donate .button:hover {
	background: #00CC48;
}

.donate .button:active, .donate .button:focus {
	background: #00A23A;
}

.donate .button {
	margin: 2.5% auto 1.25% 0.5em;
	font-size: 1.1em;
}

/* Tablet */
@media screen and (min-width: 35em) {
	.screenshot-box {
		height: 15em;
		
		.bubble {
			max-width: 25%;
		}
	}

	.screenshot-box img {
		top: 2em;
		width: 65%;
	}

	.content section {
		padding: 2.5% 0;
		text-align: left;

		align-items: center;
	}

	.section-head {
		width: 8em;
		margin-top: 0;
	}

	.desc {
		font-size: 1.2em;
	}

	.desc p {
		margin: 1em 0;
	}

	.donate .button {
		font-size: 1.25em;
	}
}

/* Desktop */
@media screen and (min-width: 50em) {
	.screenshot-box {
		.bubble {
			max-width: 15%;
		}
		
		img {
			width: 40%;
		}		
	}

	.content {
		padding-top: 2.5%;
	}

	.section-head {
		width: 15em;
	}

	.desc {
		line-height: 2;
	}
}