@import "project";

section {
	-webkit-animation: intro 1.25s ease-out 0.75s forwards;
	-moz-animation: intro 1.25s ease-out 0.75s forwards;
	animation: intro 1.25s ease-out 0.75s forwards;
	opacity: 0;
	text-align: center;
	width: 65%;
	margin: 5% auto 0;
	text-align: center;
}

.no-cssanimations section, .no-cssanimations .button {
	opacity: 1;
}

.themeimage {
	max-width: 100%;
}

.button {
	-webkit-animation: intro 1.25s ease-out 0.75s forwards;
	-moz-animation: intro 1.25s ease-out 0.75s forwards;
	animation: intro 1.25s ease-out 0.75s forwards;
	margin-top: 2.5%;
	text-align: center;
	opacity: 0;
}

/* Desktop */
@media screen and (min-width: 699px) {
section {
	margin-top: 2.5%;
}

.themeimage {
}
}
