@import 'partials/constants.css';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: $bg-color;
	font: 300 100%/1.5 $font-fam;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
}

::selection {
	background: $highlight-color;
}

::-moz-selection {
	background: $highlight-color;
}

a {
	transition: color 0.35s ease;
	color: $text-color;
	text-decoration: none;
	
	.no-touch &:hover {
		color: $blue;
	}
	
	.no-touch &:active {
		color: $darkblue;
	}
}

img {
	border: none;
}

ul {
	padding: 0;
	margin: 0;
}

/* Center content on page. */
.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Keep content from getting horizontally squished. */
.inner-container {
	width: 100%;
}

@keyframes roll-in {
	0% {
		transform: translateX(100vw) rotate(-0deg);
		opacity: 0.25;
	}
	25% {
		transform: translateX(90vw) rotate(-360deg);
	}
	50% {
		transform: translateX(70vw) rotate(-720deg);
	}
	75% {
		transform: translateX(40vw) rotate(-1080deg);
	}
	95% {
		transform: translateX(5vw) rotate(-1300deg)
	}
	100% {
		transform: translateX(0) rotate(-1440deg);
		opacity: 1;
	}
}

.headerpic,
.headerpic img {
	transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
	display: block;
	width: 10em;
	height: 10em;
	border-radius: 50%;
	margin: 1.5% auto 3.5%;
	background-image: url('/images/ScottPic_600.jpg?03-2014');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.fourohfour .headerpic, .fourohfour .headerpic img {
	background: none;
}

.sexy .headerpic {
	background-image: url('/images/SexyScott.jpg?03-2015');
}

.info {
	text-align: center;
}

.name {
	transition: font-size 0.5s ease;
	margin: 1.5% auto;
	color: $text-color;
	font-size: 2em;
	font-weight: 500;
	line-height: 1;
}

nav {
	transition: font-size 0.5s ease;
	display: inline-block;
	padding: 0 1.5% 1%;
	border-bottom: 1px solid $blue;
	margin: 1% auto;
	font-size: 1.25em;
}

nav a {
	display: inline;
	margin: 0 0.25em;
}

.MainText {
	transition: font-size 0.5s ease;
	width: 92.5%;
	max-width: 25em;
	margin: 1.5% auto;
	color: $text-color;
	font-size: 1em;
	line-height: 1.3em;
}

.AllSocialLinks {
	display: flex;
	margin: 2.5% auto 1.5%;
	list-style: none;
	flex-wrap: wrap;
}

@media screen and (max-width: 35em) {
	.AllSocialLinks {
		justify-content: space-around; /* Prevents Chrome bug from incorrectly calculating justify-content: center */
	}
}

.no-flexbox .AllSocialLinks {
	text-align: center;
}

.SocialLink {
	animation: roll-in 1.5s linear forwards;
	flex: 0 auto;
	opacity: 0;
}

.no-cssanimations {
	opacity: 1;
}

.SocialLink:nth-of-type(1),
.SocialLink:nth-of-type(2) {
	animation-delay: 0.1s;
}
.SocialLink:nth-of-type(3),
.SocialLink:nth-of-type(4), {
	animation-delay: 0.4s;
}
.SocialLink:nth-of-type(5) {
	animation-delay: 0.5s;
}
.SocialLink:nth-of-type(6) {
	animation-delay: 0.6s;
}
.SocialLink:nth-of-type(7) {
	animation-delay: 0.7s;
}
.SocialLink:nth-of-type(8) {
	animation-delay: 0.8s;
}
.SocialLink:nth-of-type(9),
.SocialLink:nth-of-type(10) {
	animation-delay: 0.9s;
}
.SocialLink:nth-of-type(11) {
	animation-delay: 1.0s;
}
.SocialLink:nth-of-type(12) {
	animation-delay: 1.1s;
}
.SocialLink:nth-of-type(13) {
	animation-delay: 1.2s;
}

.no-flexbox .SocialLink {
	display: inline;
	margin: 0 0.75%;
	text-align: center;
}

.SocialLink.ShareSheet, .SocialLink.Desktop {
	display: none;
}

.iOS .SocialLink.ShareSheet {
	display: inline;
}

.iOS .SocialLink.notShareSheet {
	display: none;
}

.SocialIcon {
	transition: opacity 0.25s ease-out, height 0.5s ease, width 0.5s ease, transform 0.25s ease-out;
	transform: scale(1);
	width: auto;
	height: 2.25em;
	vertical-align: middle;
	cursor: pointer;
}

.no-touch .SocialIcon:active {
	opacity: 0.5;
}

.SocialLink.touched .SocialIcon {
	opacity: 0.5;
}

@import 'partials/share-sheet.css';


/* Tablet */
@media screen and (min-width: 35em) {
	.headerpic, .headerpic img {
		width: 14em;
		height: 14em;
		margin: 0 auto 2.5%;
	}

	.info {
		font-size: 1.15em;
	}

	.AllSocialLinks {
		justify-content: center;
	}

	.SocialLink {
		margin: 0 0.75%;
	}

	.SocialIcon {
		height: 3em;
	}

	.no-touch .SocialIcon {
		transform: scale(0.8);
	}

	.no-touch .SocialIcon:hover {
		transform: scale(1);
	}
}


/* Desktop */
@media screen and (min-width: 50em) {
	.headerpic, .headerpic img {
		margin: 0 auto 1.5%;
	}

	.info {
		font-size: 1.25em;
	}

	.name {
		margin-bottom: 0;
	}

	.MainText {
		width: 60%;
	}

	.SocialLink.Desktop {
		display: inline;
	}

	.SocialLink.Mobile {
		display: none;
	}

	.SocialIcon {
		height: 3.5em;
	}
}


/* Large Screen */
@media screen and (min-width: 68.5em) {
	.info {
		font-size: 1.35em;
	}

	.MainText {
		width: 70%;
		margin: 0.5% auto;
	}

	.SocialIcon {
		width: auto;
		height: 4.25em;
	}
}