@import 'constants';

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background: $bg-color;
	font: 300 100%/1.5 $font-fam;

	-webkit-font-smoothing: antialiased;
}

::selection {
	background: $highlight-color;
}

::-moz-selection {
	background: $highlight-color;
}

a {
	transition: text-shadow 0.35s ease, color 0.35s ease;
	color: $text-color;
	text-decoration: none;
}

.no-touch a:hover {
	color: $blue;
	text-shadow: 0 0 10px rgba(0,0,0,0.35);
}

.no-touch a:active {
	color: $darkblue;
	text-shadow: 0 -2px 7px rgba(0,0,0,0.5);
}

img {
	border: none;
}

ul {
	padding: 0;
	margin: 0;
}

@keyframes fly-in-from-top {
	0% {
		transform: translateY(-175px) scale(0.5) rotateX(85deg);
		opacity: 0.25;
	}
	100% {
		transform: translateY(0) scale(1) rotateX(0deg);
		opacity: 1;
	}
}

@keyframes fly-in-from-bottom {
	0% {
		transform: translateY(175px) scale(0.5) rotateX(85deg);
		opacity: 0.25;
	}
	100% {
		transform: translateY(0) scale(1) rotateX(0deg);
		opacity: 1;
	}
}

.headerpic, .headerpic img {
	animation: fly-in-from-top 1.25s ease-in-out forwards;
	transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
	display: block;
	width: 10em;
	height: 10em;
	border-radius: 50%;
	margin: 3.5% auto;
	background-image: url('/images/ScottPic_600.jpg?03-2014');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.fourohfour .headerpic, .fourohfour .headerpic img {
	background: none;
}

.sexy .headerpic {
	background-image: url('/images/SexyScott.jpg?03-2014');
}

.bottomanimated {
	animation: fly-in-from-bottom 1.25s ease-in-out forwards;
	padding: 0;
	margin: 0;
	text-align: center;
}

.name {
	transition: font-size 0.5s ease;
	margin: 1.5% auto;
	color: $text-color;
	font-size: 2em;
	font-weight: 500;
	line-height: 1;
	text-align: center;
}

nav {
	transition: font-size 0.5s ease;
	display: inline-block;
	padding: 0 1.5% 1%;
	border-bottom: 1px solid $blue;
	margin: 1% auto;
	font-size: 1.25em;
}

nav a {
	display: inline;
	margin: 0 0.25em;
	text-align: center;
}

.MainText {
	transition: font-size 0.5s ease;
	width: 92.5%;
	max-width: 25em;
	margin: 1.5% auto;
	color: $text-color;
	font-size: 1em;
	line-height: 1.3em;
	text-align: center;
}

.no-touch a[href='/tea']:hover {
	color: #C5705E;
}

.no-touch a[href='/tea']:active {
	color: #975143;
}


.AllSocialLinks {
	display: flex;
	justify-content: space-around;
	margin: 2.5% auto;
	list-style: none;

	align-content: space-around;
	flex-wrap: wrap;
}

.no-flexbox .AllSocialLinks {
	text-align: center;
}

.SocialLink {
	flex: 0 auto;
}

.no-flexbox .SocialLink {
	display: inline;
	margin: 0 0.75%;
	text-align: center;
}

.SocialLink.ShareSheet, .SocialLink.Desktop {
	display: none;
}

.iOS .SocialLink.ShareSheet {
	display: inline;
}

.iOS .SocialLink.notShareSheet {
	display: none;
}

.SocialIcon {
	transition: opacity 0.25s ease-out, height 0.5s ease, width 0.5s ease, transform 0.25s ease-out;
	transform: scale(1);
	width: auto;
	height: 2.25em;
	vertical-align: middle;
	cursor: pointer;
}

.no-touch .SocialIcon:active {
	opacity: 0.5;
}

.SocialLink.touched .SocialIcon {
	opacity: 0.5;
}

@import 'ShareSheet';


/* Tablet */
@media screen and (min-width: 35em) {
	.headerpic, .headerpic img {
		width: 14em;
		height: 14em;
		margin: 2.5% auto;
	}

	.info {
		font-size: 1.15em;
	}

	.AllSocialLinks {
		justify-content: center;
	}

	.SocialLink {
		margin: 0 0.75%;
	}

	.SocialIcon {
		height: 3em;
	}

	.no-touch .SocialIcon {
		transform: scale(0.8);
	}

	.no-touch .SocialIcon:hover {
		transform: scale(1);
	}
}


/* Desktop */
@media screen and (min-width: 50em) {
	@keyframes fly-in-from-top {
		0% {
			transform: translateY(-1500px);
			opacity: 0;
		}
		30% {
			transform: translateY(-150px);
			opacity: 0;
		}
		100% {
			transform: translateY(0);
			opacity: 1;
		}
	}

	@keyframes fly-in-from-bottom {
		0% {
			transform: translateY(1500px);
			opacity: 0;
		}
		30% {
			transform: translateY(100px) rotateX(-75deg);
			opacity: 0;
		}
		100% {
			transform: translateY(0) rotateX(0deg);
			opacity: 1;
		}
	}

	.headerpic {
		-webkit-animation-duration: 1.5s;
	}

	.bottomanimated {
		-webkit-animation-duration: 1.5s;
	}

	.headerpic, .headerpic img {
		margin: 1.5% auto;
	}

	.info {
		font-size: 1.25em;
	}

	.name {
		margin-bottom: 0;
	}

	.MainText {
		width: 60%;
	}

	.SocialLink.Desktop {
		display: inline;
	}

	.SocialLink.Mobile {
		display: none;
	}

	.SocialIcon {
		height: 3.5em;
	}
}


/* Large Screen */
@media screen and (min-width: 68.5em) {
	.info {
		font-size: 1.35em;
	}

	.MainText {
		width: 70%;
		margin: 0.5% auto;
	}

	.SocialIcon {
		width: auto;
		height: 4.25em;
	}
}