body {
  background: #e3e5e7;
  margin: 0;
  font: normal 300 100%/1.5 "museo-sans-1", "museo-sans-2", sans-serif;
  -webkit-font-smoothing: antialiased; }

::selection {
  background: rgba(0, 155, 205, 0.25); }

::-moz-selection {
  background: rgba(0, 155, 205, 0.25); }

a {
  -webkit-transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
  -moz-transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
  transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
  text-decoration: none;
  color: #444444; }

.no-touch a:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  color: #009bcd; }

.no-touch a:active {
  text-shadow: 0px -2px 7px rgba(0, 0, 0, 0.5);
  color: #007ea6; }

img {
  border: none; }

ul {
  margin: 0;
  padding: 0; }

@-webkit-keyframes fly-in-from-top {
  0% {
    -webkit-transform: translateY(-175px) scale(0.5) rotateX(85deg);
    opacity: 0.25; }

  100% {
    -webkit-transform: translateY(0) scale(1) rotateX(0deg);
    opacity: 1; } }

@-moz-keyframes fly-in-from-top {
  0% {
    -moz-transform: translateY(-175px) scale(0.5) rotateX(85deg);
    opacity: 0.25; }

  100% {
    -moz-transform: translateY(0) scale(1) rotateX(0deg);
    opacity: 1; } }

@keyframes fly-in-from-top {
  0% {
    transform: translateY(-175px) scale(0.5) rotateX(85deg);
    opacity: 0.25; }

  100% {
    transform: translateY(0) scale(1) rotateX(0deg);
    opacity: 1; } }

@-webkit-keyframes fly-in-from-bottom {
  0% {
    -webkit-transform: translateY(175px) scale(0.5) rotateX(85deg);
    opacity: 0.25; }

  100% {
    -webkit-transform: translateY(0) scale(1) rotateX(0deg);
    opacity: 1; } }

@-moz-keyframes fly-in-from-bottom {
  0% {
    -moz-transform: translateY(175px) scale(0.5) rotateX(85deg);
    opacity: 0.25; }

  100% {
    -moz-transform: translateY(0) scale(1) rotateX(0deg);
    opacity: 1; } }

@keyframes fly-in-from-bottom {
  0% {
    transform: translateY(175px) scale(0.5) rotateX(85deg);
    opacity: 0.25; }

  100% {
    transform: translateY(0) scale(1) rotateX(0deg);
    opacity: 1; } }

.headerpic, .headerpic img {
  -webkit-animation: fly-in-from-top 1.25s ease-in-out forwards;
  -moz-animation: fly-in-from-top 1.25s ease-in-out forwards;
  animation: fly-in-from-top 1.25s ease-in-out forwards;
  -webkit-transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
  -moz-transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
  transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
  background: url("../images/ScottPic_600.jpg?new") no-repeat center;
  background-size: cover;
  width: 16.5em;
  height: 16.5em;
  border-radius: 50%;
  display: block;
  margin: 1.75% auto 0; }

.headerpic.fourohfour, .headerpic.fourohfour img {
  background: none;
  border-radius: none; }

.bottomanimated {
  margin: 0;
  padding: 0;
  -webkit-animation: fly-in-from-bottom 1.25s ease-in-out forwards;
  -moz-animation: fly-in-from-bottom 1.25s ease-in-out forwards;
  animation: fly-in-from-bottom 1.25s ease-in-out forwards;
  text-align: center; }

.name {
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
  margin: 1.5% auto;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  font-size: 2.3em;
  color: #444444; }

nav {
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
  margin: 1% auto;
  padding: 0 1.5% 1%;
  border-bottom: 1px solid #009bcd;
  display: inline-block; }

nav a {
  display: inline;
  text-align: center;
  font-size: 1.6em;
  margin: 0 0.25em; }

nav a.hire {
  -webkit-transition: background 0.35s ease-out;
  -moz-transition: background 0.35s ease-out;
  transition: background 0.35s ease-out;
  color: #E3E5E7;
  font-weight: 500;
  background: #009BCD;
  border-radius: 7px;
  padding: 0.04em 0.35em; }

nav a.hire:hover {
  background: rgba(0, 153, 204, 0.75);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

.MainText {
  -webkit-transition: font-size 0.5s ease-out;
  -moz-transition: font-size 0.5s ease-out;
  transition: font-size 0.5s ease-out;
  color: #444444;
  text-align: center;
  font-size: 1.35em;
  line-height: 1.3em;
  margin: 1.5% auto;
  width: 48%; }

a[href="/tea"]:hover {
  color: #C5705E; }

a[href="/tea"]:active {
  color: #975143; }

.AllSocialLinks {
  margin: 1.5% auto 2.5% auto;
  text-align: center;
  height: 1em; }

.SocialLink {
  display: inline-block;
  text-align: center;
  line-height: 3.5em;
  margin: 0px 0.2%; }

.SocialLink a {
  display: inline-block; }

.SocialLink.ShareSheet, .SocialLink.Mobile {
  display: none; }

.iOS .SocialLink.ShareSheet {
  display: inline; }

.iOS .SocialLink.notShareSheet {
  display: none; }

.SocialIcon {
  -webkit-transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, -webkit-transform 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, -moz-transform 0.25s ease-out;
  transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, transform 0.25s ease-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  width: auto;
  vertical-align: middle;
  height: 3.75em;
  margin-bottom: 2.5%;
  cursor: pointer; }

.no-touch .SocialIcon, .no-js .SocialIcon {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8); }

.no-touch .SocialIcon:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1); }

.no-touch .SocialIcon:active {
  opacity: 0.5; }

.SocialLink.touched .SocialIcon {
  opacity: 0.5; }

/* Share Sheet */
@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(100%);
    visibility: visible; }

  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes slide-in {
  0% {
    -moz-transform: translateY(100%);
    visibility: visible; }

  100% {
    -moz-transform: translateY(0); } }

@keyframes slide-in {
  0% {
    transform: translateY(100%);
    visibility: visible; }

  100% {
    transform: translateY(0); } }

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateY(0); }

  100% {
    -webkit-transform: translateY(100%);
    visibility: hidden; } }

@-moz-keyframes slide-out {
  0% {
    -moz-transform: translateY(0); }

  100% {
    -moz-transform: translateY(100%);
    visibility: hidden; } }

@keyframes slide-out {
  0% {
    transform: translateY(0); }

  100% {
    transform: translateY(100%);
    visibility: hidden; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible; }

  100% {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    visibility: hidden; } }

@-moz-keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-out {
  0% {
    opacity: 1; }

  100% {
    opacity: 0;
    visibility: hidden; } }

#darklayer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden; }

#darklayer.loaded {
  visibility: visible; }

#darklayer.on {
  -webkit-animation: fade-in 0.25s ease-out forwards;
  -moz-animation: fade-in 0.25s ease-out forwards;
  animation: fade-in 0.25s ease-out forwards; }

.no-cssanimations #darklayer.on {
  display: block; }

#darklayer.off {
  -webkit-animation: fade-out 0.25s ease-out forwards;
  -moz-animation: fade-out 0.25s ease-out forwards;
  animation: fade-out 0.25s ease-out forwards; }

.no-cssanimations #darklayer.off {
  display: none; }

.Sheet {
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
  visibility: hidden; }

.Sheet.loaded {
  visibility: visible; }

.Sheet.unselected {
  -webkit-animation: slide-out 0.25s ease-in forwards;
  -moz-animation: slide-out 0.25s ease-in forwards;
  animation: slide-out 0.25s ease-in forwards; }

.no-cssanimations .Sheet.unselected {
  display: none; }

.Sheet.selected {
  -webkit-animation: slide-in 0.25s ease-out forwards;
  -moz-animation: slide-in 0.25s ease-out forwards;
  animation: slide-in 0.25s ease-out forwards; }

.no-cssanimations .Sheet.selected {
  display: block; }

.SheetDivider {
  border-top: 1px solid #2E2E2E;
  border-bottom: 1px solid #7D7D7D;
  margin: 0; }

.SheetContent {
  background: rgba(0, 0, 0, 0.75);
  background: -webkit-linear-gradient(rgba(85, 85, 85, 0.85) 0%, rgba(20, 20, 20, 0.85) 15%);
  background: linear-gradient(to bottom, rgba(85, 85, 85, 0.85) 0%, rgba(20, 20, 20, 0.85) 15%);
  padding: 5% 0;
  margin: 0 auto;
  text-align: center; }

.SheetContent .itemset {
  margin: 5% 3%;
  text-align: left; }

.SheetContent .itemset .itemcontainer {
  width: 32.45%;
  display: inline-block;
  text-align: center;
  margin: 0 auto 5%; }

.SheetContent .itemset li {
  display: inline-block;
  margin: 0 auto;
  width: 70px;
  height: 88px;
  line-height: 1.3em;
  font-size: 12px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  vertical-align: top; }

.SheetContent li img {
  border-radius: 10px; }

.appicon {
  height: 58px;
  width: auto; }

.cancel {
  border-radius: 10px;
  background: #656565;
  background: -webkit-linear-gradient(rgba(130, 130, 130, 0.75) 0%, rgba(10, 10, 10, 0.75) 75%);
  background: linear-gradient(to bottom, rgba(130, 130, 130, 0.75) 0%, rgba(10, 10, 10, 0.75) 75%);
  opacity: 1;
  padding: 0;
  line-height: 2em;
  font-size: 19px;
  margin: -2.5% auto 0;
  width: 272px;
  border: 2px inset #535353;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  cursor: pointer; }

.cancel.touched, .cancel:active {
  background: -webkit-linear-gradient(rgba(85, 85, 85, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
  background: linear-gradient(to bottom, rgba(85, 85, 85, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%); }

/* Landscape */
@media screen and (orientation: landscape) {
  .SheetContent {
    padding: 3.5% 0 3.5%; }

  .SheetContent .itemset {
    margin: 0 3%; }

  .SheetContent .itemset .itemcontainer {
    width: 24.5%; }

  .cancel {
    width: 225px; } }
/* Desktop */
/* Note: Sharing Sheets are not intended for use on desktop screen sizes */
@media screen and (min-width: 699px) {
  .appicon {
    height: 72px;
    width: auto; } }
/* iPad */
@media screen and (device-width: 768px) and (device-height: 1024px) {
  .SheetContent .itemset .itemcontainer {
    width: 24.5%; } }
@media screen and (max-width: 1224px) {
  .headerpic, .headerpic img {
    background-size: cover;
    width: 14em;
    height: 14em;
    margin-top: 1.5%; }

  .name {
    margin: 1% auto; }

  .MainText {
    margin: 0.5% auto;
    width: 70%; }

  .AllSocialLinks {
    margin-top: 0.5%; }

  .SocialIcon {
    height: 3.25em;
    width: auto; } }
/* iPad */
@media screen and (device-width: 768px) and (device-height: 1024px) {
  .headerpic, .headerpic img {
    margin-top: 2.5%; }

  .appicon {
    height: 74px;
    width: auto; } }
@media screen and (max-width: 699px) {
  body {
    font-size: 0.75em;
    padding-bottom: 3.5%; }

  .headerpic, .headerpic img {
    background-size: cover;
    width: 12em;
    height: 12em; }

  nav {
    font-size: 1.05em; }

  .MainText {
    margin: 2% auto;
    width: 95%; }

  .SocialIcon {
    margin: 0;
    height: 3em; } }
@media screen and (max-device-width: 699px) {
  @-webkit-keyframes fly-in-from-top {
    0% {
      -webkit-transform: translateY(-1500px);
      opacity: 0; }

    30% {
      -webkit-transform: translateY(-150px);
      opacity: 0; }

    100% {
      -webkit-transform: translateY(0);
      opacity: 1; } }

  @-moz-keyframes fly-in-from-top {
    0% {
      -moz-transform: translateY(-1500px);
      opacity: 0; }

    30% {
      -moz-transform: translateY(-150px);
      opacity: 0; }

    100% {
      -moz-transform: translateY(0);
      opacity: 1; } }

  @keyframes fly-in-from-top {
    0% {
      transform: translateY(-1500px);
      opacity: 0; }

    30% {
      transform: translateY(-150px);
      opacity: 0; }

    100% {
      transform: translateY(0);
      opacity: 1; } }

  @-webkit-keyframes fly-in-from-bottom {
    0% {
      -webkit-transform: translateY(1500px);
      opacity: 0; }

    30% {
      -webkit-transform: translateY(100px) rotateX(-75deg);
      opacity: 0; }

    100% {
      -webkit-transform: translateY(0) rotateX(0deg);
      opacity: 1; } }

  @-moz-keyframes fly-in-from-bottom {
    0% {
      -moz-transform: translateY(1500px);
      opacity: 0; }

    30% {
      -moz-transform: translateY(100px) rotateX(-75deg);
      opacity: 0; }

    100% {
      -webkit-transform: translateY(0) rotateX(0deg);
      opacity: 1; } }

  @keyframes fly-in-from-bottom {
    0% {
      transform: translateY(1500px);
      opacity: 0; }

    30% {
      transform: translateY(100px) rotateX(-75deg);
      opacity: 0; }

    100% {
      transform: translateY(0) rotateX(0deg);
      opacity: 1; } }

  .headerpic {
    -webkit-animation-duration: 1.5s; }

  .bottomanimated {
    -webkit-animation-duration: 1.5s; }

  .headerpic {
    margin: 5% auto 0 auto; }

  .name {
    margin-top: 2%; }

  nav {
    margin: 2.5% auto; }

  nav a {
    margin-top: 1%;
    color: #444444; }

  .AllSocialLinks {
    margin: 2.5% auto; }

  .SocialLink {
    line-height: 3.5em;
    margin: 0 0.75%; }

  .SocialLink.Mobile {
    display: inline; }

  .SocialLink.Desktop {
    display: none; } }
@media screen and (max-device-width: 240px) {
  body {
    font-size: 0.5em; } }
