@import "constants";

body {
	background: $bg-color;
	margin: 0;
	font: normal 300 100% $font-fam;
}

::selection {
    background: rgba(0,155,205,0.25);
	}

::-moz-selection {
	background: rgba(0,155,205,0.25);
}

a {
	-webkit-transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
	-moz-transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
	transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
	text-decoration: none;
	color: $text-color;
}

	a:hover {
		text-shadow: 0 0 10px rgba(0,0,0,0.35);
		color: $blue;
	}
	
	a:active {
		text-shadow: 0px -2px 7px rgba(0,0,0,0.5);
		color: $darkblue;
	}

ul {
	padding: 0;
}

@-webkit-keyframes fly-in-from-top {
	0% {-webkit-transform: translateY(-175px) scale(0.5) rotateX(85deg); opacity: 0.25;}
	100% {-webkit-transform: translateY(0) scale(1) rotateX(0deg); opacity: 1;}
}
			
@-moz-keyframes fly-in-from-top {
	0% {-moz-transform: translateY(-175px) scale(0.5) rotateX(85deg); opacity: 0.25;}
	100% {-moz-transform: translateY(0) scale(1) rotateX(0deg); opacity: 1;}
}

@keyframes fly-in-from-top {
	0% {transform: translateY(-175px) scale(0.5) rotateX(85deg); opacity: 0.25;}
	100% {transform: translateY(0) scale(1) rotateX(0deg); opacity: 1;}
}

@-webkit-keyframes fly-in-from-bottom {
	0% {-webkit-transform: translateY(175px) scale(0.5) rotateX(85deg); opacity: 0.25;}
	100% {-webkit-transform: translateY(0) scale(1) rotateX(0deg); opacity: 1;}
}
			
@-moz-keyframes fly-in-from-bottom {
	0% {-moz-transform: translateY(175px) scale(0.5) rotateX(85deg); opacity: 0.25;}
	100% {-moz-transform: translateY(0) scale(1) rotateX(0deg); opacity: 1;}
}

@keyframes fly-in-from-bottom {
	0% {transform: translateY(175px) scale(0.5) rotateX(85deg); opacity: 0.25;}
	100% {transform: translateY(0) scale(1) rotateX(0deg); opacity: 1;}
}

.headerpic, .headerpic img {
	-webkit-animation: fly-in-from-top 1.25s ease-in-out forwards;
	-moz-animation: fly-in-from-top 1.25s ease-in-out forwards;
	animation: fly-in-from-top 1.25s ease-in-out forwards;
	-webkit-transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
	-moz-transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
	transition: width 0.5s ease-out, height 0.5s ease-out, background-size 0.5s ease-out;
	background: url("http://scotthsmith.com/images/ScottPic_600.jpg") no-repeat center;
	background-size: cover;
	width: 275px;
    height: 275px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
	border-radius: 15px;
	display: block;
	margin: 2% auto 0;
}

.bottomanimated {
	margin: 0;
	padding: 0;
	-webkit-animation: fly-in-from-bottom 1.25s ease-in-out forwards;
	-moz-animation: fly-in-from-bottom 1.25s ease-in-out forwards;
	animation: fly-in-from-bottom 1.25s ease-in-out forwards;
}

.name {
	margin: 1.5% auto;
	font-weight: 500;
	text-align: center; 
	font-size: 2.3em;
	color: $text-color;
}

nav {
	-webkit-transition: width 0.5s ease-out;
	-moz-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
	text-align: center;
	margin: 1% auto;
	padding-bottom: 1%;
	width: 30%;
	border-bottom: 1px solid $blue;
}

nav a {
	display: inline;
	text-align: center;
	margin: 0 1.75%;
	font-size: 1.6em;
}

.MainText {
	color: $text-color;
	text-align: center;
	font-size: 1.35em;
	line-height: 1.3em;
	margin: 1.5% auto;
	width: 48%;
}

	a[href="/tea"]:hover {
		color: #C5705E;
	}

	a[href="/tea"]:active {
		color: #975143;
	}


.AllSocialLinks {
	margin: 1.5% auto 5% auto;
	text-align: center;
	height: 1em;
}

.SocialLink {
	display: inline;
	text-align: center;
	line-height: 3.5em;
	margin: 0px 0.2%;
}

.SocialLink.Mobile {
	display: none;
}

.SocialIcon {
	-webkit-transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, -webkit-transform 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, -moz-transform 0.25s ease-out;
	transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, transform 0.25s ease-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	width: auto;
	vertical-align: middle;
	height: 3.75em;
	margin-bottom: 2.5%;
}

	.SocialIcon:hover {
		-webkit-transform: scale(1);   
		-moz-transform: scale(1);  
		transform: scale(1);
	}
	
	.SocialIcon:active {
		opacity: 0.5;
	}
	
@import "ShareSheet";

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
	
}

@media screen and (max-width: 1224px) {
.headerpic, .headerpic img {
	background-size: cover;
	width: 225px;
    height: 225px;
    margin-top: 1.5%;
}

.name {
	margin: 1% auto;
}

nav {
	width: 40%;
}

.MainText {
	margin: 0.5% auto;
	width: 70%;
}

.AllSocialLinks {
	margin-top: 0.5%;
}

.SocialIcon {
	height: 3.25em;
	width: auto;
}
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {

.headerpic, .headerpic img {
	margin-top: 2.5%;
}

.SocialLink.Desktop {
	display: none;
}

.SocialLink.Mobile, .SocialLink.Github {
	display: inline;
}

.appicon {
	height: 74px;
	width: auto;
}
}

@media screen and (max-width: 699px) {
body {
	font-size: 0.75em;
	padding-bottom: 3.5%;
}

.headerpic, .headerpic img {
	background-size: cover;
	width: 140px;
    height: 140px;
}

nav {
	width: 75%;
}

nav a {
	margin: 0 1.25%;
}

.MainText {
	margin: 2% auto;
	width: 95%;
}

.SocialIcon {
	margin: 0;
	height: 3em;
}
}

@media screen and (max-device-width: 699px) {
@-webkit-keyframes fly-in-from-top {
	0% {-webkit-transform: translateY(-1500px); opacity: 0;}
	30% {-webkit-transform: translateY(-150px); opacity: 0;}
	100% {-webkit-transform: translateY(0); opacity: 1;}
}
			
@-moz-keyframes fly-in-from-top {
	0% {-moz-transform: translateY(-1500px); opacity: 0;}
	30% {-moz-transform: translateY(-150px); opacity: 0;}
	100% {-moz-transform: translateY(0); opacity: 1;}
}

@keyframes fly-in-from-top {
	0% {transform: translateY(-1500px); opacity: 0;}
	30% {transform: translateY(-150px); opacity: 0;}
	100% {transform: translateY(0); opacity: 1;}
}

@-webkit-keyframes fly-in-from-bottom {
	0% {-webkit-transform: translateY(1500px); opacity: 0;}
	30% {-webkit-transform: translateY(100px) rotateX(-75deg); opacity: 0;}
	100% {-webkit-transform: translateY(0) rotateX(0deg); opacity: 1;}
}
			
@-moz-keyframes fly-in-from-bottom {
	0% {-moz-transform: translateY(1500px); opacity: 0;}
	30% {-moz-transform: translateY(100px) rotateX(-75deg); opacity: 0;}
	100% {-webkit-transform: translateY(0) rotateX(0deg); opacity: 1;}
}

@keyframes fly-in-from-bottom {
	0% {transform: translateY(1500px); opacity: 0;}
	30% {transform: translateY(100px) rotateX(-75deg); opacity: 0;}
	100% {transform: translateY(0) rotateX(0deg); opacity: 1;}
}

.headerpic {
	-webkit-animation-duration: 1.5s;
}

.bottomanimated {
	-webkit-animation-duration: 1.5s;
}

a {
	margin-top: 2%;
}

	a:hover {
		text-shadow: none;
		color: inherit;
	}
	
	a:active {
		text-shadow: none;
		color: inherit;
	}

.headerpic {
	background-image: url("/images/ScottPic_600.jpg");
	margin: 5% auto 0 auto;
}

.name {
	margin-top: 2%;
}

nav {
	marigin: 2.5% auto;
}

nav a {
	margin-top: 1%;
	color: $darkgrey;
}

.AllSocialLinks {
	margin: 2.5% auto;
}

.SocialLink {
	line-height: 3.5em;
	margin: 0 0.75%;
}

.SocialLink.Desktop {
	display: none;
}

.SocialLink.Mobile {
	display: inline;
}

.SocialIcon {
	-webkit-transform: scale(1);   
	-moz-transform: scale(1);  
	transform: scale(1);
}

	.SocialIcon:hover {
		-webkit-transform: scale(1);   
		-moz-transform: scale(1);  
		transform: scale(1);
		opacity: 1;
	}
	
	.SocialIcon:active {
		opacity: 1;
	}
}

@media screen and (max-device-width: 240px) {
body {
	font-size: 0.5em;
}
}
