body {
	background: #EBEBEB;
	background-image: -webkit-radial-gradient(center center, circle cover, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
	background-image: -moz-radial-gradient(center center, circle cover, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
	background-image: -o-radial-gradient(center center, circle cover, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
	background-image: radial-gradient(center center, circle cover, #EBEBEB 0%,#E0E0E0 50%, #C2C2C2 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#C2C2C2');
}

h1 {
	margin-top: 20px;
	text-align: center; 
	font-size: 40px;
	font-style: normal;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}

.headerpic {
	margin-top: 50px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 300px;
    height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content {
	text-align: center;
	font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, sans-serif;
}

.divider {
	border-bottom: 1px dashed #009BCD;
	margin: 0px 40.5%;
}

p.bio {
	font-size: 22px;
}

.blog {
	font-size: 22px;
}

p.blog {
	margin: 25px 0px;
}

a.blog {
	color: #000000;
	margin-top: 200px;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	transition: text-shadow 0.5s;
	-moz-transition: text-shadow 0.5s;
	-webkit-transition: text-shadow 0.5s;
	-o-transition: text-shadow 0.5s;
	timing-function: ease-in-out;
	text-decoration: none;
}

	a.blog:hover {
		text-shadow: 0 0 5px rgba(0,0,0,0.3);
		color: #8d8d8d;	
	}

p.SocialLinks {
	margin: 25px 0px;
}

a.SocialLinks {
	color: #009BCD;
	margin: 0px 7px 15px 7px;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	-o-transition: color 0.5s;
	timing-function: ease-in-out;
	transition: text-shadow 0.5s;
	-moz-transition: text-shadow 0.5s;
	-webkit-transition: text-shadow 0.5s;
	-o-transition: text-shadow 0.5s;
	timing-function: ease-in-out;
	text-decoration: none;
	font-size: 22px;
}
	a.SocialLinks:hover {
		text-shadow: 0 0 5px rgba(0,0,0,0.3);
		color: #8d8d8d;	
	}
	
	#email:hover {
		text-shadow: 0 0 5px rgba(194,14,14,0.3);
		color: #c20e0e;
	}
	
	#email:hover:after {
		content:" - Think Again";
	}
	
	#email:active{
		text-shadow: 0 0 5px rgba(0.3);
		color: #8d1010;
	}
	
	#email:active:after {
		content:" - Seriously";
	}