@import "project";

section {
	animation: intro 1.25s ease-out 0.75s forwards;
	opacity: 0;
	text-align: center;
	width: 65%;
	margin: 5% auto 0;
	text-align: center;
}

.no-cssanimations header, .no-cssanimations section {
	opacity: 1;
}

.dot {
	animation: slide 2s ease-out infinite;
	background: $blue;
	border-radius: 999em;
	height: 1em;
	width: 1em;
	display: inline-block;
	opacity: 0;
	margin: 0 0.5%;
}

.first {
	animation-delay: 0.5s;
}

.second {
	animation-delay: 0.5s;
}

.third {
	animation-delay: 0.5s;
}

@keyframes slide {
	0% {transform: translateX(-100px); opacity: 0;}
	10% {opacity: 0;}
	32.5%, 67.5% {transform: translateX(0); opacity: 1;}
	90% {opacity: 0;}
	100% {transform: translateX(100px); opacity: 0;}
}