@import 'project';

section {
	animation: intro 1.25s ease-out 0.75s forwards;
	width: 65%;
	margin: 5% auto 0;
	opacity: 0;
	text-align: center;
	text-align: center;
}

.no-cssanimations header, .no-cssanimations section {
	opacity: 1;
}

.dot {
	animation: slide 2s ease-out infinite;
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 999em;
	margin: 0 0.5%;
	opacity: 0;
	background: $blue;
}

.first {
	animation-delay: 0.5s;
}

.second {
	animation-delay: 0.5s;
}

.third {
	animation-delay: 0.5s;
}

@keyframes slide {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	10% {
		opacity: 0;
	}
	32.5%, 67.5% {
		transform: translateX(0);
		opacity: 1;
	}
	90% {
		opacity: 0;
	}
	100% {
		transform: translateX(100px);
		opacity: 0;
	}
}