@import "project";

section {
	-webkit-animation: intro 1.25s ease-out 0.75s forwards;
	-moz-animation: intro 1.25s ease-out 0.75s forwards;
	animation: intro 1.25s ease-out 0.75s forwards;
	opacity: 0;
	text-align: center;
	width: 65%;
	margin: 5% auto 0;
	text-align: center;
}

.no-cssanimations header, .no-cssanimations section {
	opacity: 1;
}

.dot {
	-webkit-animation: slide 2s ease-out infinite;
	-moz-animation: slide 2s ease-out infinite;
	animation: slide 2s ease-out infinite;
	background: $blue;
	border-radius: 999em;
	height: 1em;
	width: 1em;
	display: inline-block;
	opacity: 0;
	margin: 0 0.5%;
}

.first {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.second {
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.third {
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@-webkit-keyframes slide {
	0% {-webkit-transform: translateX(-100px); opacity: 0;}
	10% {-webkit-transform: translateX(-100px); opacity: 0;}
	32.5%, 67.5% {-webkit-transform: translateX(0); opacity: 1;}
	90% {-webkit-transform: translateX(100px); opacity: 0;}
	100% {-webkit-transform: translateX(100px); opacity: 0;}
}

@-moz-keyframes slide {
	0% {-webkit-transform: translateX(-100px); opacity: 0;}
	10% {opacity: 0;}
	32.5%, 67.5% {-webkit-transform: translateX(0); opacity: 1;}
	90% {opacity: 0;}
	100% {-webkit-transform: translateX(100px); opacity: 0;}
}

@keyframes slide {
	0% {-webkit-transform: translateX(-100px); opacity: 0;}
	10% {opacity: 0;}
	32.5%, 67.5% {-webkit-transform: translateX(0); opacity: 1;}
	90% {opacity: 0;}
	100% {-webkit-transform: translateX(100px); opacity: 0;}
}