body {
  background: #e3e5e7;
  font: normal 300 100%/1.5 "museo-sans-1", "museo-sans-2", sans-serif;
  margin: 0; }

::selection {
  background: rgba(0, 155, 205, 0.25); }

::-moz-selection {
  background: rgba(0, 155, 205, 0.25); }

img {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

@-webkit-keyframes intro {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes intro {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes intro {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

header {
  -webkit-animation: intro 1.25s ease-out 0.15s forwards;
  -moz-animation: intro 1.25s ease-out 0.15s forwards;
  animation: intro 1.25s ease-out 0.15s forwards;
  color: #444444;
  opacity: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 1.8em;
  font-size: 1.1em;
  text-align: center; }

.no-cssanimations header {
  opacity: 1; }

header .nav, header .divider {
  color: rgba(68, 68, 68, 0.5);
  font-weight: 300;
  vertical-align: top; }

header h1 {
  line-height: 1em;
  font-size: 1.5em;
  padding-bottom: 3.5%;
  border-bottom: 1px solid #009bcd; }

header a {
  -webkit-transition: color 0.35s ease-out;
  -moz-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
  color: #009bcd;
  text-decoration: none; }

header p {
  margin: 0 2.5%;
  text-align: left; }

header h1 ul {
  list-style: none;
  display: inline-block;
  line-height: 1.3em; }

#current_page {
  cursor: pointer; }

.PageMenu {
  -webkit-transition: border-bottom 0.3s ease-out;
  -moz-transition: border-bottom 0.3s ease-out;
  transition: border-bottom 0.3s ease-out;
  display: none;
  position: absolute;
  background: rgba(228, 230, 232, 0.75);
  border-bottom: 0 solid #009bcd; }

.PageMenu.shown {
  border-bottom: 2px solid #009bcd; }

.PageMenu a {
  color: rgba(68, 68, 68, 0.5); }

.PageMenu a:hover {
  color: rgba(68, 68, 68, 0.85); }

/* Desktop */
@media screen and (min-width: 699px) {
  header .nav:hover {
    color: #009bcd; }

  header .nav:active {
    color: #007ea6; }

  header {
    margin: 2% auto 0;
    width: 65%;
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify; }

  header a:hover {
    color: #007ea6; }

  header a:active {
    color: #444444; }

  header h1 {
    line-height: 1.1em;
    font-size: 2em;
    padding-bottom: 0;
    border-bottom: none; }

  header p {
    margin: 0; } }
/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
  header {
    width: 80%; } }
section {
  -webkit-animation: intro 1.25s ease-out 0.75s forwards;
  -moz-animation: intro 1.25s ease-out 0.75s forwards;
  animation: intro 1.25s ease-out 0.75s forwards;
  opacity: 0;
  text-align: center;
  width: 65%;
  margin: 5% auto 0;
  text-align: center; }

.no-cssanimations header, .no-cssanimations section {
  opacity: 1; }

.dot {
  -webkit-animation: slide 2s ease-out infinite;
  -moz-animation: slide 2s ease-out infinite;
  animation: slide 2s ease-out infinite;
  background: #009bcd;
  border-radius: 999em;
  height: 1em;
  width: 1em;
  display: inline-block;
  opacity: 0;
  margin: 0 0.5%; }

.first {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.second {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.third {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s; }

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0; }

  10% {
    -webkit-transform: translateX(-100px);
    opacity: 0; }

  32.5%, 67.5% {
    -webkit-transform: translateX(0);
    opacity: 1; }

  90% {
    -webkit-transform: translateX(100px);
    opacity: 0; }

  100% {
    -webkit-transform: translateX(100px);
    opacity: 0; } }

@-moz-keyframes slide {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0; }

  10% {
    opacity: 0; }

  32.5%, 67.5% {
    -webkit-transform: translateX(0);
    opacity: 1; }

  90% {
    opacity: 0; }

  100% {
    -webkit-transform: translateX(100px);
    opacity: 0; } }

@keyframes slide {
  0% {
    -webkit-transform: translateX(-100px);
    opacity: 0; }

  10% {
    opacity: 0; }

  32.5%, 67.5% {
    -webkit-transform: translateX(0);
    opacity: 1; }

  90% {
    opacity: 0; }

  100% {
    -webkit-transform: translateX(100px);
    opacity: 0; } }
