body {
  background: #e3e5e7;
  font: normal 300 100%/1.5 "museo-sans-1", "museo-sans-2", sans-serif;
  margin: 0; }

::selection {
  background: rgba(0, 155, 205, 0.25); }

::-moz-selection {
  background: rgba(0, 155, 205, 0.25); }

img {
  border: none; }

ul {
  padding: 0;
  margin: 0; }

@-webkit-keyframes intro {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes intro {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes intro {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

header {
  -webkit-animation: intro 1.25s ease-out 0.15s forwards;
  -moz-animation: intro 1.25s ease-out 0.15s forwards;
  animation: intro 1.25s ease-out 0.15s forwards;
  color: #444444;
  opacity: 0;
  margin: 0 auto;
  width: 100%;
  line-height: 1.8em;
  font-size: 1.1em;
  text-align: center; }

.no-cssanimations header {
  opacity: 1; }

header .nav, header .divider {
  color: rgba(68, 68, 68, 0.5);
  font-weight: 300;
  vertical-align: top; }

header h1 {
  line-height: 1em;
  font-size: 1.5em;
  padding-bottom: 3.5%;
  border-bottom: 1px solid #009bcd; }

header a {
  -webkit-transition: color 0.35s ease-out;
  -moz-transition: color 0.35s ease-out;
  transition: color 0.35s ease-out;
  color: #009bcd;
  text-decoration: none; }

header p {
  margin: 0 2.5%;
  text-align: left; }

header h1 ul {
  list-style: none;
  display: inline-block;
  line-height: 1.3em; }

#current_page {
  cursor: pointer; }

.PageMenu {
  -webkit-transition: border-bottom 0.3s ease-out;
  -moz-transition: border-bottom 0.3s ease-out;
  transition: border-bottom 0.3s ease-out;
  display: none;
  position: absolute;
  background: rgba(228, 230, 232, 0.75);
  border-bottom: 0 solid #009bcd; }

.PageMenu.shown {
  border-bottom: 2px solid #009bcd; }

.PageMenu a {
  color: rgba(68, 68, 68, 0.5); }

.PageMenu a:hover {
  color: rgba(68, 68, 68, 0.85); }

/* Desktop */
@media screen and (min-width: 699px) {
  header .nav:hover {
    color: #009bcd; }

  header .nav:active {
    color: #007ea6; }

  header {
    margin: 2% auto 0;
    width: 65%;
    font-size: 1.2em;
    line-height: 2em;
    text-align: justify; }

  header a:hover {
    color: #007ea6; }

  header a:active {
    color: #444444; }

  header h1 {
    line-height: 1.1em;
    font-size: 2em;
    padding-bottom: 0;
    border-bottom: none; }

  header p {
    margin: 0; } }
/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
  header {
    width: 80%; } }
a {
  -webkit-transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
  -moz-transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
  transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
  text-decoration: none;
  color: #009bcd; }

a:hover {
  color: #007ea6; }

a:active {
  color: #444444; }

@-webkit-keyframes fly-in-from-top {
  0% {
    -webkit-transform: translateY(-1500px);
    opacity: 0; }

  30% {
    -webkit-transform: translateY(-275px) scale(0.5);
    opacity: 0; }

  100% {
    -webkit-transform: translateY(0px) scale(1);
    opacity: 1; } }

@-moz-keyframes fly-in-from-top {
  0% {
    -moz-transform: translateY(-1500px);
    opacity: 0; }

  30% {
    -moz-transform: translateY(-275px) scale(0.5);
    opacity: 0; }

  100% {
    -moz-transform: translateY(0px) scale(1);
    opacity: 1; } }

@keyframes fly-in-from-top {
  0% {
    transform: translateY(-1500px);
    opacity: 0; }

  30% {
    transform: translateY(-275px) scale(0.5);
    opacity: 0; }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1; } }

.items {
  margin: 2.5% auto 0;
  -webkit-columns: 2;
  -webkit-column-gap: 0;
  -webkit-column-fill: auto;
  -moz-columns: 3;
  -moz-column-gap: 0;
  -moz-column-fill: auto;
  columns: 3;
  column-gap: 0;
  column-fill: auto;
  width: 65%;
  text-align: left; }

.item-expand-area:nth-child(1) .item {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.item-expand-area:nth-child(2) .item {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.item-expand-area:nth-child(3) .item {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s; }

.item-expand-area:nth-child(4) .item {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  animation-delay: 1.25s; }

.item-expand-area:nth-child(5) .item {
  -webkit-animation-delay: 1.75s;
  -moz-animation-delay: 1.75s;
  animation-delay: 1.75s; }

.item-expand-area:nth-child(6) .item {
  -webkit-animation-delay: 2.25s;
  -moz-animation-delay: 2.25s;
  animation-delay: 2.25s; }

.item {
  -webkit-animation: fly-in-from-top 1.15s ease-in-out forwards;
  -moz-animation: fly-in-from-top 1.15s ease-in-out forwards;
  animation: fly-in-from-top 1.15s ease-in-out forwards;
  -webkit-transition: box-shadow 0.4s ease-out;
  -moz-transition: box-shadow 0.4s ease-out;
  transition: box-shadow 0.4s ease-out;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
  background: #EEEEEE;
  color: #444444;
  opacity: 0;
  -webkit-border-radius: 0.35em;
  border-radius: 0.35em;
  z-index: 1;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  overflow: hidden; }

.item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
  overflow: hidden; }

.no-csscolumns .item {
  float: right;
  overflow: hidden;
  width: 33.33%; }

.no-cssanimations .item {
  opacity: 1; }

.item-expand-area {
  -webkit-transition: -webkit-transform 0.25s ease-out;
  -moz-transition: -moz-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  -webkit-transform: scale(0.925);
  -moz-transform: scale(0.925);
  transform: scale(0.925); }

.item-expand-area:hover {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1); }

.photo {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 0.35em rgba(0, 0, 0, 0.3); }

.photo img {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 1;
  width: 100%;
  height: auto;
  border-radius: 0.35em 0.35em 0px 0px;
  display: block; }

.no-touch .photo img:hover {
  opacity: 0.8; }

.no-touch .photo img:hover {
  opacity: 0.9; }

.projects .photo {
  width: 145px;
  height: 145px;
  box-shadow: none;
  margin-top: 5%; }

.caption {
  font-size: 1em;
  line-height: 1.35; }

.caption p {
  margin: 4%; }

.caption a:hover {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }

.caption a:active {
  text-shadow: 0px -2px 7px rgba(0, 0, 0, 0.5); }

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
  .items {
    width: 95%; }

  .item {
    min-height: auto; }

  .caption {
    font-size: 1.2em; } }
@media screen and (max-width: 699px) {
  html {
    padding-bottom: 3.5%; }

  .items {
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    -webkit-column-fill: auto;
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -moz-column-fill: auto;
    column-count: 1;
    column-gap: 0;
    column-fill: auto;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap; }

  .first.item-expand-area {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; }

  .first.item {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s; }

  .second.item-expand-area {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }

  .second.item {
    -webkit-animation-delay: 1.25s;
    -moz-animation-delay: 1.25s;
    animation-delay: 1.25s; }

  .third.item-expand-area {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }

  .third.item {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s; }

  .fourth.item, .fifth.item, .sixth.item {
    -webkit-animation-name: none;
    -moz-animation-name: none;
    animation-name: none;
    opacity: 1; }

  .fourth.item-expand-area {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4; }

  .fifth.item-expand-area {
    -webkit-box-ordinal-group: 5;
    -moz-box-ordinal-group: 5;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5; }

  .sixth.item-expand-area {
    -webkit-box-ordinal-group: 6;
    -moz-box-ordinal-group: 6;
    -webkit-order: 6;
    -ms-flex-order: 6;
    order: 6; }

  .item {
    -webkit-animation: fly-in-from-top 1.25s ease-in-out forwards;
    -moz-animation: fly-in-from-top 1.25s ease-in-out forwards;
    animation: fly-in-from-top 1.25s ease-in-out forwards;
    width: 95%;
    margin: 4% 2.5% 0 2.5%;
    overflow: hidden;
    background: #e3e5e7; }

  .item-expand-area {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); }

  .photo img {
    display: block;
    overflow: visible;
    margin: 0 auto; }

  .caption {
    font-size: 1.05em;
    line-height: 1.25em; }

  .caption p {
    margin: 2% 4%; }

  .caption a {
    color: #009bcd; } }
