@import 'constants';

@import 'project';

a {
	transition: text-shadow 0.35s ease-out, color 0.35s ease-out;
	color: $blue;
	text-decoration: none;
	
	.no-touch &:hover {
		color: $darkblue;
	}
	
	.no-touch &:active {
		color: $text-color;
	}
}

@keyframes fly-in-from-top {
	0% {
		transform: translateY(-1500px);
		opacity: 0;
	}
	30% {
		transform: translateY(-275px) scale(0.5);
		opacity: 0;
	}
	100% {
		transform: translateY(0px) scale(1);
		opacity: 1;
	}
}

.items {
	display: flex;
	width: 100%;

	flex-flow: column nowrap;
}

.no-touch .item-expand-area {
	transition: transform 0.25s ease-out;
	transform: scale(0.925);
}

.no-touch .item-expand-area:hover {
	transform: scale(1);
}

.item {
	animation: fly-in-from-top 1.15s ease-in-out forwards;
	transition: box-shadow 0.4s ease-out;
	display: inline-block;
	overflow: hidden;
	z-index: 1;
	border-radius: 0.35em;
	opacity: 0;
	color: $darkgrey;
	background: #EEEEEE;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	
	.no-cssanimations & {
		opacity: 1;
	}
	
	.touch & {
		margin: 2.5%;
	}
	
	.no-touch &:hover {
		overflow: hidden;
		z-index: 2;
		box-shadow: 0 0 10px rgba(0,0,0,0.25);
	}
}

@media screen and (max-width: 35em) {
	.fourth .item, .fifth .item, .sixth .item, .seventh .item {
		animation-name: none;
		opacity: 1;
	}
}

.photo {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 0 0.35em rgba(0,0,0,0.3);
	text-align: center;
}

.projects .photo {
	width: 145px;
	height: 145px;
	margin-top: 5%;
	box-shadow: none;
}

.photo img {
	transition: opacity 0.3s ease-out;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 0.35em 0.35em 0 0;
	opacity: 1;
	
	.no-touch &:hover {
		opacity: 0.8;
	}
	
	.no-touch &:hover {
		opacity: 0.9;
	}
}

.caption {
	font-size: 1em;
	line-height: 1.35;
	
	p {
		margin: 4%;
	}
	
	.no-touch & a:hover {
		text-shadow: 0 0 10px rgba(0,0,0,0.35);
	}
	
	.no-touch & a:active {
		text-shadow: 0 -2px 7px rgba(0,0,0,0.5);
	}
}

/* Tablet */
@media screen and (min-width: 35em) {
	.items {
		display: block;
		width: 95%;
		margin: 2.5% auto 0;
		text-align: left;
	}

	.item-expand-area {
		width: 50%;
		
		.no-js & {
			width: 100%;
		}
	}

/*
	.item-expand-area:nth-child(1) .item {
		animation-delay: 1s;
	}

	.item-expand-area:nth-child(2) .item {
		animation-delay: 1.5s;
	}

	.item-expand-area:nth-child(3) .item {
		animation-delay: 2s;
	}

	.item-expand-area:nth-child(4) .item {
		animation-delay: 1.25s;
	}

	.item-expand-area:nth-child(5) .item {
		animation-delay: 1.75s;
	}

	.item-expand-area:nth-child(6) .item {
		animation-delay: 2.25s;
	}
*/

	.caption {
		font-size: 1.2em;
	}
}


/* Desktop */
@media screen and (min-width: 50em) {
	.items {
		width: 65%;
	}
}