@import 'project';

.content {
	animation: intro 1.25s ease-out 0.75s forwards;
	margin: 2% auto;
	opacity: 0;
	text-align: center;
}

.no-cssanimations .content {
	opacity: 1;
}

.content li {
	font-size: 1.6em;
	line-height: 2em;
	list-style: none;
}

.content a {
	transition: color 0.35s ease-out;
	color: $text-color;
	text-decoration: none;
}

.content a:hover {
	color: $blue;
}

.content a:active {
	color: $darkblue;
}

/* Desktop */
@media screen and (min-width: 35em) {
	.content li {
		font-size: 1.8em;
	}
}