@import "project";

.content {
	animation: intro 1.25s ease-out 0.75s forwards;
	opacity: 0;
	margin: 5% auto;
}

.no-cssanimations .content {
	opacity: 1;
}

.AllLinks {
	text-align: center;
}

.Link {
	display: inline;
	text-align: center;
	line-height: 3.5em;
	margin: 0px 0.4%;
}

.SocialIcon {
	transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, transform 0.25s ease-out;
	transform: scale(0.8);
	width: auto;
	vertical-align: middle;
	height: 4.5em;
	margin-bottom: 2.5%;
	cursor: pointer;
}

	.no-touch .SocialIcon:hover {
		-webkit-transform: scale(1);   
		-moz-transform: scale(1);  
		transform: scale(1);
	}
	
	.no-touch .SocialIcon:active {
		opacity: 0.5;
	}

@import "ShareSheet";


/* Tablet */
@media screen and (min-width: 35em) {
.content-wrapper {
	width: 80%;
}
}


/* Desktop */
@media screen and (min-width: 699px) {
.content {
	margin: 2.5% auto;
}

.Link {
	line-height: 3.5em;
	margin: 0 0.75%;
}

.SocialIcon {
	margin: 0;
	height: 3em;
}
}

/* Large Screens */
@media screen and (min-width: 68.5em) {
.SocialIcon {
	height: 4.25em;
}
}