@import "project";

.AllLinks {
	-webkit-animation: intro 1.25s ease-out 0.75s forwards;
	-moz-animation: intro 1.25s ease-out 0.75s forwards;
	animation: intro 1.25s ease-out 0.75s forwards;
	margin: 1.5% auto 5%;
	text-align: center;
	height: 1em;
	opacity: 0;
}

.no-cssanimations .AllLinks {
	opacity: 1;
}

.Link {
	display: inline;
	text-align: center;
	line-height: 3.5em;
	margin: 0px 0.4%;
}

.SocialIcon {
	-webkit-transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, -webkit-transform 0.25s ease-out;
	-moz-transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, -moz-transform 0.25s ease-out;
	transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, transform 0.25s ease-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	width: auto;
	vertical-align: middle;
	height: 4.5em;
	margin-bottom: 2.5%;
	cursor: pointer;
}

	.SocialIcon:hover {
		-webkit-transform: scale(1);   
		-moz-transform: scale(1);  
		transform: scale(1);
	}
	
	.SocialIcon:active {
		opacity: 0.5;
	}

.license {
	display: none;
}

@import "ShareSheet";

/* Desktop */
@media screen and (min-width: 699px) {
.AllLinks {
	margin: 2.5% auto;
}

.Link {
	line-height: 3.5em;
	margin: 0 0.75%;
}

.SocialIcon {
	-webkit-transform: scale(1);   
	-moz-transform: scale(1);  
	transform: scale(1);
	margin: 0;
	height: 3em;
}

	.SocialIcon:hover {
		opacity: 1;
	}
	
	.SocialIcon:active {
		opacity: 1;
	}
	
.license {
	-webkit-animation: fade-in 1.5s ease-out 5s forwards;
	-moz-animation: fade-in 1.5s ease-out 5s forwards;
	animation: fade-in 1.5s ease-out 5s forwards;
	opacity: 0;
	margin: 0 0 2.5% 2.5%;
	width: 20%;
	color: $text-color;
	float: left;
}

.no-cssanimations .license {
	opacity: 1;
}

.license a {
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
	color: $text-color;
}

	.license a:hover {
		color: $blue;
	}
	
	.license a:active {
		color: $darkblue;
	}
}

@media screen and (max-width: 1224px) {
.SocialIcon {
	height: 3.25em;
	width: auto;
}
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
.content-wrapper {
	width: 80%;
}
}