@import "project";

.lightcolor {
	color: $lightgrey;
}

.bluecolor {
	color: $blue
}

.content-wrapper {
	margin: 0 auto;
	width: 65%;
	text-align: center;
}

.content {
	-webkit-animation: intro 1.5s ease-out 0.65s forwards;
	-moz-animation: intro 1.5s ease-out 0.65s forwards;
	animation: intro 1.5s ease-out 0.65s forwards;
	margin: 2.5% auto;
	opacity: 0;
}

.no-cssanimations .content {
	opacity: 1;
}

.grid {
	-webkit-transition: opacity 0.5s ease-out, width 0.4s ease-out;
	-moz-transition: opacity 0.5s ease-out, width 0.4s ease-out;
	transition: opacity 0.5s ease-out, width 0.4s ease-out;
	vertical-align: middle;
	height: auto;
	width: 100%;
}

.grid.selected {
	width: 95%;
	opacity: 1;
}

.grid.unselected {
	width: 0;
	opacity: 0;
}

.download {
	position: relative;
	vertical-align: middle;	
	margin: 3.5% 1%;
	height: 2.75em;
	width: auto;
}

.license {
	display: none;
}

/* Desktop */
@media screen and (min-width: 699px) {
.grid {
	height: 395px;
}

.grid.selected {
	width: 559px;
}

.download {
	-webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.3s ease;
	-moz-transition: opacity 0.35s ease-out, -moz-transform 0.3s ease;
	transition: opacity 0.35s ease-out, transform 0.3s ease;
	height: 4.75em;
	margin: 3.5% 2.5% 2.5%;
}

	.download:hover {
		-webkit-transform: translateY(-8px);
		-moz-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	
	.download:active {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
		opacity: 0.65;
	}


.license {
	-webkit-animation: intro 1.5s ease-out 5s forwards;
	-moz-animation: intro 1.5s ease-out 5s forwards;
	animation: intro 1.5s ease-out 5s forwards;
	opacity: 0;
	margin: 0 0 2.5% 2.5%;
	width: 22.5%;
	color: $darkgrey;
	float: left;
	display: block;
}

.license p {
	font-size: 0.75em;
}

.license a {
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
	color: $darkgrey;
}

	.license a:hover {
		color: $blue;
	}
	
	.license a:active {
		color: $darkblue;
	}
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
.content-wrapper {
	width: 80%;
}

	 .download:hover {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}