<meta charset="UTF-8">
<meta property="og:title" content="Scott Smith">
<meta property="og:url" content="https://ScottHSmith.com">
<meta property="og:image" content="https://ScottHSmith.com/assets/images/ScottPic.jpg">
<meta property="twitter:account_id" content="36173544">
<meta name="p:domain_verify" content="b03e4be79c8e4b1f14f0163e475a4e43"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="manifest" href="/manifest.webmanifest">

<!-- Icons -->
<link rel="icon" href="/assets/images/icon.png">
<link rel="mask-icon" href="/assets/images/icon.svg" color="#009BCD">
<link rel="apple-touch-icon" href="/assets/images/ScottPic.jpg">
<meta name="theme-color" content="#ECEEF0">
<meta name="msapplication-TileColor" content="#ECEEF0">
<meta name="msapplication-TileImage" content="/assets/images/icon.png">
