/* Normal Weights */
@font-face {
	font-family: 'iA Writer Quattro';
	font-style: normal;
	font-weight: 400;
	src: local('iA Writer Quattro S'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-Regular.woff2') format('woff2'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-Regular.woff') format('woff');
	font-display: fallback;
}

/* Bold Weights */
@font-face {
	font-family: 'iA Writer Quattro';
	font-style: normal;
	font-weight: 600;
	src: local('iA Writer Quattro S'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-Bold.woff2') format('woff2'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-Bold.woff') format('woff');
	font-display: fallback;
}

/* Italic Style */
@font-face {
	font-family: 'iA Writer Quattro';
	font-style: italic;
	font-weight: 400;
	src: local('iA Writer Quattro S'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-Italic.woff2') format('woff2'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-Italic.woff') format('woff');
	font-display: fallback;
}

/* Bold and Italic Style */
@font-face {
	font-family: 'iA Writer Quattro';
	font-style: italic;
	font-weight: 600;
	src: local('iA Writer Quattro S'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-BoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/quattro/iAWriterQuattroS-BoldItalic.woff') format('woff');
	font-display: fallback;
}

