{
	"rules": {
		"color-hex-case": "upper",
		"color-no-invalid-hex": true,
		"color-named": "always-where-possible",
		"font-family-name-quotes": "always-unless-keyword",
		"block-no-empty": null,
		"number-no-trailing-zeros": true,
		"number-max-precision": 3,
		"function-comma-space-after": "always",
		"function-comma-space-before": "never",
		"function-name-case": "lower",
		"function-whitespace-after": "always",
		"function-url-no-scheme-relative": true,
		"function-url-quotes": "always",
		"length-zero-no-unit": true,
		"selector-attribute-quotes": "always",
		"shorthand-property-no-redundant-values": true,
		"time-min-milliseconds": 100,
		"value-keyword-case": "lower",
		"property-case": "lower",
		"selector-type-case": "lower",
		"no-extra-semicolons": true,
	}
}