{{> partials/file-header }}

<title>Scott Smith</title>

<meta name="Description" content="Scott Smith is a creating product leader. Passionate about crafting designs and experiences for users. Always learning.">

{{> partials/meta-tags }}

<link rel="prefetch" href="/assets/styles/build/partials/project.css">

<!-- CSS -->
<link rel="stylesheet" href="/assets/styles/build/partials/global.css">
<link rel="stylesheet" href="/assets/styles/build/home.css">

</head>

<body>

	<div class="container" itemscope itemtype="http://schema.org/Person">

	<link itemprop="gender" href="http://schema.org/Male">

	<picture>
		<source
	     sizes="(min-width: 50em) 35em, 95vw"
	     srcset="/assets/images/header-image/avif/4248.avif 4248w,
		  	/assets/images/header-image/avif/2325.avif 2325w,
		     /assets/images/header-image/avif/1680.avif 1680w,
		     /assets/images/header-image/avif/1550.avif 1550w,
		     /assets/images/header-image/avif/1120.avif 1120w,
		     /assets/images/header-image/avif/775.avif 775w,
		     /assets/images/header-image/avif/560.avif 560w"
	     type="image/avif">
		<source
		 sizes="(min-width: 50em) 35em, 95vw"
		 srcset="/assets/images/header-image/webp/4248.webp 4248w,
		 	 /assets/images/header-image/webp/2325.webp 2325w,
			 /assets/images/header-image/webp/1680.webp 1680w,
			 /assets/images/header-image/webp/1550.webp 1550w,
			 /assets/images/header-image/webp/1120.webp 1120w,
			 /assets/images/header-image/webp/775.webp 775w,
			 /assets/images/header-image/webp/560.webp 560w"
		 type="image/webp">
		<img
		 class="header-image"
		 alt=""
		 sizes="(min-width: 50em) 35em, 95vw"
		 src="/assets/images/header-image/jpeg/1120.jpg"
		 srcset="/assets/images/header-image/jpeg/4248.jpg 4248w,
		 	 /assets/images/header-image/jpeg/2325.jpg 2325w,
			 /assets/images/header-image/jpeg/1680.jpg 1680w,
			 /assets/images/header-image/jpeg/1550.jpg 1550w,
			 /assets/images/header-image/jpeg/1120.jpg 1120w,
			 /assets/images/header-image/jpeg/775.jpg 775w,
			 /assets/images/header-image/jpeg/560.jpg 560w"
		 width="560"
		 height="382"
		 itemprop="image">
	</picture>

	<header>

		<h1 class="name" itemprop="name">
			<span class="first" itemprop="givenName">Scott</span> <span class="last" itemprop="familyName">Smith</span>
		</h1>

		<ul class="tagline">
			<li>Creative</li>
			<li>Product</li>
			<li><a href="https://ScottSmith.is">& More</a></li>
		</ul>

	</header>

	<section class="main">

		<nav>
			<a href="/portfolio/">Portfolio</a>
			<a href="/miscellanea/">Miscellanea</a>
		</nav>

		<p class="colophon" itemprop="description">
			I'm a creative product leader.<br>Always learning.<br><br>

			<span itemprop="alumniOf" itemscope itemtype="http://schema.org/OrganizationRole">
				<span itemprop="alumniOf" itemscope itemtype="http://schema.org/CollegeOrUniversity">
					I am a graduate from
					<span itemprop="department" itemscope itemtype="http://schema.org/Organization">
						<a href="https://hcde.washington.edu" itemprop="sameAs"><abbr title="Human Centered Design and Engineering">HCDE</abbr></a>
						<meta itemprop="name" content="Human Centered Design and Engineering">
					</span>
					at the <span itemprop="name">University of Washington</span>, passionate about crafting designs and experiences for people.
					<span itemprop="location" itemscope itemtype="http://schema.org/PostalAddress">
						<meta itemprop="addressLocality" content="Seattle">
						<meta itemprop="addressRegion" content="Washington">
						<meta itemprop="addressCountry" content="US">
						<link itemprop="sameAs" href="https://www.seattle.gov/">
					</span>
					<link itemprop="sameAs" href="https://www.washington.edu/">
				</span>
			</span>
		</p>
		<button class="colophon-extender">Show More&hellip;</button>
		<div id="colophon-extended" class="colophon colophon-extended">
			<p>
				I care deeply about carefully planning out how people come to use and experience a product. My experience ranges from the web to physical product design, enabling me to help others bring concepts to life. My recent work is focused on creating accessible and powerful interfaces.
			</p>
			<ul>
				<li>
					<picture>
						<source
						 srcset="/assets/images/home-story/textedit.avif"
						 type="image/avif">
						 <img src="/assets/images/home-story/textedit.png" alt="TextEdit macOS icon" width="64" height="64" loading="lazy">
					</picture>
					<span>I started making websites by hand.</span>
				</li>
				<li>
					<picture>
						<source
						 srcset="/assets/images/home-story/keynote.avif"
						 type="image/avif">
						<img src="/assets/images/home-story/keynote.png" alt="Keynote macOS icon" width="64" height="64" loading="lazy">
					</picture>
					<span>Making screen designs with whatever tool I had.</span>
				</li>
				<li>
					<img src="/assets/images/home-story/wordpress.svg" alt="WordPress logo" width="64" height="64" loading="lazy">
					<span>Tweaking and updating WordPress themes.</span></span>
				</li>
				<li>
					<img src="/assets/images/home-story/decode.svg" alt="Decode logo" width="64" height="64" loading="lazy">
					<span>Making custom WordPress themes and plugins.</span>
				</li>
				<li>
					<img src="/assets/images/home-story/uw.svg" alt="University of Washington logo" width="64" height="64" loading="lazy">
					<span>Studied HCDE at University of Washington to learn more about the product design process.</span>
				</li>
				<li>
					<img src="/assets/images/home-story/brief-media.svg" alt="Brief Media logo" width="64" height="64" loading="lazy">
					<span>Practiced product, web design, development, and print design at <a href="http://brief.media">Brief Media</a>.</span>
				</li>
				<li>
					<img src="/assets/images/home-story/career-canvas.svg" alt="Career Canvas logo" width="64" height="64" loading="lazy">
					<span>Built a brand and user experience for <a href="http://careercanvas.net">Career Canvas</a>.</span>
				</li>
				<li>
					<img src="/assets/images/home-story/hyperloop.svg" alt="Hyperloop logo" width="64" height="64" loading="lazy">
					<span>Competed in <a href="https://www.spacex.com/hyperloop">Hyperloop Competition</a> III with <a href="https://hyperloop.io">Washington Hyperloop</a>.</span>
				</li>
				<li>
					<img src="/assets/images/home-story/a-small-studio.svg" alt="a small studio smirk logo" width="64" height="64" loading="lazy">
					<span>Built impact-driven brand and product experiences based on identity with <a href="https://asmallstudio.com">a small studio</a>.</span>
				</li>
				<li>
					<img src="/assets/images/home-story/cyxtera.svg" alt="Cyxtera logo" width="64" height="64" loading="lazy">
					<span>Managing the the next generation of human-centered data infrastructure products at <a href="https://cyxtera.com">Cyxtera</a>. I am a senior product manager leading work on <a href="https://cyxtera.com/command-center">Cyxtera Command Center</a> and our digital experiences.</span>
				</li>
			</ul>
		</div>

	</section>

	<section class="social">
		<p id="social-quote">
			Oh look.<br>
			A millennial on the internet.
		</p>
		<h2 class="sr-only">Social media profiles</h2>
		<ul class="icons">
			<li class="Mastodon link">
				<a href="https://mastodon.social/@scottsmith" aria-label="Mastodon" rel="me noopener noreferrer">
					<svg class="icon" viewBox="0 0 1 1"><use xlink:href="#mastodon"></svg>
				</a>
			</li>
			<li class="Twitter link">
				<a href="https://twitter.com/ScottSmith95" aria-label="Twitter" rel="me noopener noreferrer">
					<svg class="icon" viewBox="0 0 1 1"><use xlink:href="#twitter"></svg>
				</a>
			</li>
			<li class="Instagram link">
				<a href="https://instagram.com/ScottSmith95" aria-label="Instagram" rel="me noopener noreferrer">
					<svg class="icon" viewBox="0 0 1 1"><use xlink:href="#instagram"></svg>
				</a>
			</li>
			<li class="LinkedIn link">
				<a href="https://linkedin.com/in/scotthaywoodsmith" aria-label="LinkedIn" rel="me noopener noreferrer">
					<svg class="icon" viewBox="0 0 1 1"><use xlink:href="#LinkedIn"></svg>
				</a>
			</li>
		</ul>
	</section>

	<footer role="contentinfo">
		Handcrafted with &#9825; by yours truly and hosted on <a href="https://vercel.com/home">Vercel</a>.
	</footer>

	</div>

{{> partials/global-script }}

<script async type="text/javascript" src="/assets/scripts/build/home.js"></script>

</body>

</html>
