{{> partials/file-header }}

<title>Scott Smith</title>

<meta name="Description" content="Scott Smith is a designer & web developer. A student passionate about crafting designs and experiences for users. Always learning.">

{{> partials/meta-tags }}

<link rel="prefetch" href="/styles/build/partials/project.css">
<link rel="dns-prefetch" href="https://fonts.typekit.net">

<!-- CSS -->
<link rel="stylesheet" href="/styles/build/partials/global.css">
<link rel="stylesheet" href="/styles/build/home.css">

{{> partials/typekit }}

</head>

<body>
	
	<div class="container" itemscope itemtype="http://schema.org/Person">
	
	<picture>
		<source
		 sizes="(min-width: 50em) 35em, 95vw"
		 srcset="images/header-image/webp/4248.webp 4248w,
		 	 images/header-image/webp/2325.webp 2325w,
			 images/header-image/webp/1680.webp 1680w,
			 images/header-image/webp/1550.webp 1550w,
			 images/header-image/webp/1120.webp 1120w,
			 images/header-image/webp/775.webp 775w,
			 images/header-image/webp/560.webp 560w"
		 type="image/webp">
		<img
		 class="header-image"
		 alt=""
		 sizes="(min-width: 50em) 35em, 95vw"
		 src="images/header-image/jpeg/1120.jpg"
		 srcset="images/header-image/jpeg/4248.jpg 4248w,
		 	 images/header-image/jpeg/2325.jpg 2325w,
			 images/header-image/jpeg/1680.jpg 1680w,
			 images/header-image/jpeg/1550.jpg 1550w,
			 images/header-image/jpeg/1120.jpg 1120w,
			 images/header-image/jpeg/775.jpg 775w,
			 images/header-image/jpeg/560.jpg 560w"
		 width="560"
		 height="382"
		 itemprop="image">
	</picture>
	
	<header>
		
		<h1 class="name" itemprop="name">
			<span class="first">Scott</span> <span class="last">Smith</span>
		</h1>
		
		<ul class="tagline">
			<li>Designer</li>
			<li>Developer</li>
			<li><a href="https://ScottSmith.is">& More</a></li>
		</ul>
	
	</header>
	
	<section class="main">
		
		<nav>
			<a href="/portfolio/">Portfolio</a>
			<a href="/miscellanea/">Miscellanea</a>
		</nav>
		
		<p class="colophon" itemprop="description">
			I'm a designer &amp; web developer.<br>Always learning.<br><br>I am an <a href="https://hcde.washington.edu"><abbr title="Human Centered Design and Engineering">HCDE</abbr></a> graduate from the University of Washington, passionate about crafting designs and experiences for people.
		</p>
		<button class="colophon-extender">Show More&hellip;</button>
		<p id="colophon-extended" class="colophon colophon-extended">
			I care deeply about carefully planning out how people come to use and experience a product. Recently, I've been focused on creating accessible and performant web experiences.<br>
			I am looking to work as a full-time designer after I graduate in June 2018.
		</p>
		
	</section>
	
	<section class="social">
		<p id="social-quote">
			Oh look.<br>
			A millennial on the internet. 
		</p>
		<h2 class="sr-text">Social media profiles</h2>
		<ul class="icons">
			<li class="Twitter link">
				<a href="https://twitter.com/ScottSmith95" aria-label="Twitter" rel="me">
					<svg class="icon" viewbox="0 0 1 1"><use xlink:href="#twitter"></svg>
				</a>
			</li>
			<li class="Facebook link">
				<a href="https://facebook.com/ScottSmith95" aria-label="Facebook" rel="me">
					<svg class="icon" viewbox="0 0 1 1"><use xlink:href="#facebook"></svg>
				</a>
			</li>
			<li class="Instagram link">
				<a href="https://instagram.com/ScottSmith95" aria-label="Instagram" rel="me">
					<svg class="icon" viewbox="0 0 1 1"><use xlink:href="#instagram"></svg>
				</a>
			</li>
			<li class="LinkedIn link">
				<a href="https://linkedin.com/in/scotthaywoodsmith" aria-label="LinkedIn" rel="me">
					<svg class="icon" viewbox="0 0 1 1"><use xlink:href="#LinkedIn"></svg>
				</a>
			</li>
			<li class="Github link">
				<a href="https://github.com/ScottSmith95" aria-label="GitHub" rel="me">
					<svg class="icon" viewbox="0 0 1 1"><use xlink:href="#GitHub"></svg>
				</a>
			</li>
		</ul>
	</section>
	
	<footer role="contentinfo">
		Handcrafted with &#9825; by yours truly and hosted on <a href="https://m.do.co/c/eade3984084b">DigitalOcean</a>.
	</footer>
	
	</div>
	
{{> partials/global-script }}

<script async type="text/javascript" src="/scripts/build/home.js"></script>

</body>

</html>