/* Colors */

$blue: #009BCD;
$darkblue: #007EA6;
$darkgrey: #444444;
$lightgrey: #82969C;
$text-color: #444444;
$bg-color: #ECEEF0;
$highlight-color: RGBA(147, 187, 201, 0.5);


/* Fonts */

$font-fam: 'museo-sans-1', 'museo-sans-2', sans-serif;