<meta charset="UTF-8">
<meta property="og:title" content="Scott Smith">
<meta property="og:url" content="https://ScottHSmith.com">
<meta property="og:image" content="https://ScottHSmith.com/assets/favicons/512.jpg">
<meta property="twitter:account_id" content="36173544">
<meta name="p:domain_verify" content="b03e4be79c8e4b1f14f0163e475a4e43"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="manifest" href="/manifest.webmanifest">

<link rel="mask-icon" href="/assets/favicons/mask-icon.svg" color="#009BCD">
<meta name="theme-color" content="#ECEEF0" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#202020" media="(prefers-color-scheme: dark)">
