{{> ../partials/file-header }}

<title>Scott Smith | Miscellanea</title>

<meta name="Description" content="These are personal projects I created largely for my own use and have made available to the public.">

{{> ../partials/meta-tags }}

<!-- Prefetch -->
<link rel="prefetch" href="https://scotthsmith.com/projects/decode-archive">

<link rel="prefetch" href="https://scotthsmith.com/projects/share-sheets">

<link rel="prefetch" href="https://scotthsmith.com/projects/social-icons">

<!-- CSS -->
<link rel="stylesheet" href="/styles/build/partials/global.css?2018-06-22">
<link rel="stylesheet" href="/styles/build/partials/project.css?2018-06-22">
<link rel="stylesheet" href="/styles/build/projects.css?2018-06-22">

</head>

<body>

	<header>
		<div class="nav">
			<a href="/"><span class="sr-text">Back to </span>Scott<span class="sr-text"> Smith homepage</span></a>
			<h1>Miscellanea</h1>
		</div>
		<div class="desc"><p>These are personal projects I created largely for my own use and make available to the public. Each serves as a learning experience and an opportunity to give back to the community. All projects are permissively licensed.</p></div>
	</header>
	
	<main class="content" role="main">
		<a class="project-box" href="/miscellanea/scott-is/" style="background-image: url(images/scott-is-bg.svg)">
			<div class="title">Scott Is…</div>
		</a>
		<a class="project-box" href="/miscellanea/decode-archive/" style="background-image: url(images/decode-bg.svg)">
			<div class="title">Decode</div>
		</a>
		<a class="project-box" href="/miscellanea/share-sheets/" style="background-image: url(images/share-sheets-bg.png)">
			<div class="title">Share Sheets</div>
		</a>
		<a class="project-box" href="/miscellanea/social-icons/" style="background-image: url(images/social-icons-bg.png)">
			<div class="title">Social Icons</div>
		</a>
	</main>

{{> ../partials/global-script }}

</body>

</html>