{{> file-header }}

<title>Scott Smith | Miscellanea</title>

<meta name="description" content="These are personal projects I created largely for my own use and have made available to the public.">

{{> meta-tags }}

<!-- CSS -->
<link rel="stylesheet" href="/assets/styles/partials/global.css">
<link rel="stylesheet" href="/assets/styles/partials/project.css">
<link rel="stylesheet" href="/assets/styles/projects.css">

</head>

<body>

	<header>
		<div class="nav">
			<a href="/"><span class="sr-only">Back to </span>Scott<span class="sr-only"> Smith homepage</span></a>
			<h1>Miscellanea</h1>
		</div>
		<div class="desc"><p>These are personal projects I created largely for my own use and make available to the public. Each serves as a learning experience and an opportunity to give back to the community. All projects are permissively licensed.</p></div>
	</header>

	<main class="content" role="main">
		<a class="project-box" href="/miscellanea/scott-is/" style="background-image: url(images/scott-is-bg.svg)">
			<div class="title">Scott Is…</div>
		</a>
		<a class="project-box" href="/miscellanea/decode-archive/" style="background-image: url(images/decode-bg.svg)">
			<div class="title">Decode</div>
		</a>
		<a class="project-box" href="/miscellanea/social-icons/" style="background-image: url(images/social-icons-bg.png)">
			<div class="title">Social Icons</div>
		</a>
	</main>

{{> global-script }}

</body>

</html>
