@import '../variables.css';

header {
	width: 100%;
	max-width: 40em;
	text-align: center;
	
	.no-cssanimations & {
		opacity: 1;
	}
	
	a {
		color: var(--text-color);
	}
	
	.nav {
		padding: 2.5% 0;
		border-bottom: 1px solid var(--blue);
		
		h1, h2, & > a {
			display: inline;
			font-size: 1.5em;
			padding-bottom: 2.5%;
			margin: 0;
		}
		
		& > a {
			font-weight: 300;
			color: rgba(68, 68, 68, 0.5);
			
			&::after {
				content: '|';
				color: rgba(68, 68, 68, 0.5);
				margin: 0 0.25em;
			}
		}
		
		.js &.has-page-nav { /* Dropdown will only with with JS, so don't hint it's clickable without it working. */
			h1, h2 {
				cursor: pointer;
			}
		}
		
		ul {
			display: inline-block;
			list-style: none;			
		}
	}
	
	@media (hover) {
	.nav a:hover {
		color: var(--blue);
	}
	
	.nav a:active {
		color: var(--darkblue);
	}
	}

	.desc {
		text-align: left;
		padding: 0 2.5%;
		margin: 2.5% 0 0;
		
		a {
			color: var(--blue);
		
			@media (hover) {
			&:hover {
				color: var(--darkblue);
			}
			
			&:active {
				color: var(--darkgrey);
			}
			}
		}
	}
}

.page-nav {
	transition: max-height 0.3s, border-bottom 0.3s, box-shadow 0.3s;
	transition-timing-function: ease-in, ease, ease;
	overflow: hidden;
	max-height: 0;
	font-size: 1.5em;
	text-align: left;
	background: rgba(235, 238, 240, 0.95);
	border-bottom: 0 solid var(--blue);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
	
	@supports (backdrop-filter: none) {
	    backdrop-filter: blur(10px);
	    background: rgba(235, 238, 240, 0.65);
	}

	
	&.active {
		transition-timing-function: ease-out, ease, ease;
		max-height: 3em;
		border-bottom: 2px solid var(--blue);
	}
	
	&.active.long {
		max-height: 5em;
	}

	a {
		color: rgba(68,68,68,0.5);
		
		@media (hover) {
		&:hover {
			color: rgba(68,68,68,0.85);
		}
		}
	}
}

.content {
	max-width: 55em;
	text-align: center;
	margin: 2.5%;

	.no-cssanimations & {
		opacity: 1;
	}
}

.license {
	display: block;
	width: 80%;
	color: var(--darkgrey);
	margin: 2.5% auto;
	
	p {
		font-size: 0.9em;
	}
	
	a {
		transition: color 0.3s ease;
		color: var(--darkgrey);
		
		@media (hover) {
		&:hover {
			color: var(--blue);
		}
		
		&:active {
			color: var(--darkblue);
		}
		}
	}
}

/* Tablet */
@media (min-width: 35em) {
	header {
		width: 80%;
		font-size: 1.2em;
		text-align: justify;
		margin: 5% auto 2.5%;
		
		.nav {
			padding: 0;
			border-bottom: none;
			
			h1, h2, & > a {
				font-size: 2em;
				padding-bottom: 0;
			}
			
			ul {
				font-size: 2em;
			}
		}
		
		.desc {
			padding: 0;
		}
	}

	.page-nav {
		font-size: 2em;
	}

	.license {
		float: left;
		width: 22.5%;
		margin: 0 0 2.5% 2.5%;
	}
	
	.content {
		margin: 2.5% auto;
	}
}