@import '../variables.css';

header {
	max-width: 40em;
	text-align: justify;
	margin: var(--space-l1) var(--space-l1) var(--space-l2);
	
	.no-cssanimations & {
		opacity: 1;
	}
	
	a {
		color: var(--text-color);
	}
	
	.nav,
	.desc {
		margin: var(--space-l1) 0;
	}
	
	.nav {
		h1, h2, & > a {
			display: inline;
			font-size: 2em;
			padding: 0;
			margin: 0;
		}
		
		& > a {
			font-weight: 300;
			color: rgba(68, 68, 68, 0.5);
			
			&::after {
				content: '|';
				color: rgba(68, 68, 68, 0.5);
				margin: 0 0.25em;
			}
		}
		
		.js &.has-page-nav { /* Dropdown will only with with JS, so don't hint it's clickable without it working. */
			h1, h2 {
				cursor: pointer;
			}
		}
		
		ul {
			display: inline-block;
			list-style: none;			
		}
	}
	
	@media (hover) {
	.nav a:hover {
		color: var(--blue);
	}
	
	.nav a:active {
		color: var(--darkblue);
	}
	}

	.desc {
		font-size: 1.25em;
		line-height: 1.5;
		text-align: left;
		
		p {
			margin: 0;
		}
		
		a {
			color: var(--blue);
		
			@media (hover) {
			&:hover {
				color: var(--darkblue);
			}
			
			&:active {
				color: var(--darkgrey);
			}
			}
		}
	}
}

.page-nav {
	transition: max-height 0.3s, border-bottom 0.3s, box-shadow 0.3s;
	transition-timing-function: ease-in, ease, ease;
	overflow: hidden;
	max-height: 0;
	font-size: 2em;
	text-align: left;
	background: rgba(235, 238, 240, 0.95);
	border-bottom: 0 solid var(--blue);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	z-index: 2;
	
	@supports (backdrop-filter: none) {
	    backdrop-filter: blur(10px);
	    background: rgba(235, 238, 240, 0.65);
	}

	
	&.active {
		transition-timing-function: ease-out, ease, ease;
		max-height: 3em;
		border-bottom: 2px solid var(--blue);
	}
	
	&.active.long {
		max-height: 5em;
	}

	a {
		color: rgba(68,68,68,0.5);
		
		@media (hover) {
		&:hover {
			color: rgba(68,68,68,0.85);
		}
		}
	}
}

.content {
	max-width: 55em;
	text-align: center;
	margin: var(--space-l1) 2.5%;

	.no-cssanimations & {
		opacity: 1;
	}
}

.license {
	display: block;
	width: 80%;
	color: var(--darkgrey);
	margin: var(--space-l2) auto;
	
	p {
		font-size: 0.9em;
	}
	
	a {
		transition: color 0.3s ease;
		color: var(--darkgrey);
		
		@media (hover) {
		&:hover {
			color: var(--blue);
		}
		
		&:active {
			color: var(--darkblue);
		}
		}
	}
}

/* Tablet */
@media (min-width: 35em) {
	header {
		width: 80%;
		margin: var(--space-l2) auto;
		
		.nav {			
			h1, h2, & > a {
				font-size: 2.5em;
			}
		}
		
		.desc {
			font-size: 1.5em;
		}
	}

	.page-nav {
		font-size: 2.5em;
	}

	.license {
		float: left;
		width: 22.5%;
		margin: 0 0 var(--space-l1) var(--space-l1);
	}
	
	.content {
		margin-right: auto;
		margin-left: auto;
	}
}