@import '../variables.css';

header {
	max-width: 40em;
	text-align: left;
	padding-left: constant(safe-area-inset-left);
	padding-left: env(safe-area-inset-left);
	padding-right: constant(safe-area-inset-right);
	padding-right: env(safe-area-inset-right);
	margin: var(--space-l2);
	
	.no-cssanimations & {
		opacity: 1;
	}
	
	a {
		color: var(--text-color);
	}
	
	.nav,
	.desc {
		margin: var(--space-l2) 0;
	}
	
	.nav {
		h1, h2, & > a {
			display: inline;
			font-size: 2em;
			padding: 0;
			margin: 0;
			white-space: nowrap;
		}
		
		& > a {
			transition: color 0.3s ease, border-color 0.3s ease, border-radius 0.3s ease, margin-left 0.3s ease;
			font-weight: 300;
			color: var(--large-light-text-color);
			border: 0.07em solid transparent;
			margin-left: -0.35em;
			margin-right: 0.5rem;
			
			&::before {
				transition: left 0.3s ease, margin-right 0.3s ease;
				content: '';
				display: inline-block;
				transform: rotate(-135deg);
				position: relative;
				top: 0.6em;
				left: 0;
				height: 0.35em;
				width: 0.35em;
				vertical-align: top;
				border-style: solid;
				border-width: 0.08em 0.08em 0 0;
				border-radius: 1px;
			}
			
			&::after {
				transition: opacity 0.3s ease;
				content: '';
				border-right: 0.07em solid;
				border-radius: 10px;
				margin-left: 0.35em;
			}
		}
		
		.js &.has-page-nav { /* Dropdown will only with with JS, so don't hint it's clickable without it working. */
			position: relative;
			
			h1, h2 {
				position: relative;
				cursor: pointer;
				
				&::after {
					transition: transform 0.3s ease-out;
					content: '';
					display: inline-block;
					position: relative; /* Position relative allows arrow to wrap to new line before text. */
					top: -0.15em;
					right: -0.25em;
					height: 0;
					width: 0;
					border-left: 0.4rem solid transparent;
					border-right: 0.4rem solid transparent;
					border-top: 0.4rem solid var(--text-color);
				}
				
				&.active::after {
					transform: rotateX(180deg);
				}
			}
		}
	}
	
	@media (hover) {
	.nav a {
		&:hover {
			color: var(--blue);
			border-color: var(--blue);
			border-radius: 5px;
			margin-left: 0;

			&::before {
				left: 0.35em;
				margin-right: 0.5em;
			}

			&::after {
				opacity: 0;
			}
		}
		
		&:active {
			color: var(--darkblue);
			border-color: var(--darkblue);
			border-radius: 5px;
			margin-left: 0;
			
			&::before {
				left: 0.35em;
				margin-right: 0.5em;
			}
			
			&::after {
				opacity: 0;
			}
		}
	}
	}

	.desc {
		font-size: 1.25em;
		line-height: 1.5;
		
		p {
			margin: 0;
		}
		
		img {
			height: auto;
			max-width: 100%;
		}
		
		a {
			color: var(--blue);
		
			@media (hover) {
			&:hover {
				color: var(--darkblue);
			}
			
			&:active {
				color: var(--darkgrey);
			}
			}
		}
	}
}

.page-nav {
	transition: max-height 0.3s, border-color 0.3s, box-shadow 0.3s, margin-top 0.3s;
	transition-timing-function: ease-out, ease, ease, ease, ease;
	display: block;
	overflow: hidden;
	max-height: 0;
	width: 100%;
	font-size: 2em;
	list-style: none;
	border-top: 0 solid rgba(222, 222, 222, 0);
	border-bottom: 0 solid rgba(222, 222, 222, 0);
	z-index: 2;

	
	&.active {
		transition-timing-function: ease-in, ease, ease;
		max-height: 4.6em;
		border-width: 1px;
		border-color: #DEDEDE;
		margin-top: 1rem;
	}

	a {
		color: rgba(68,68,68,0.5);
		
		@media (hover) {
		&:hover {
			color: rgba(68,68,68,0.85);
		}
		}
	}
}

.content {
	max-width: 55em;
	text-align: center;
	padding-left: constant(safe-area-inset-left);
	padding-left: env(safe-area-inset-left);
	padding-right: constant(safe-area-inset-right);
	padding-right: env(safe-area-inset-right);
	margin: var(--space-l3) var(--space-l2);

	.no-cssanimations & {
		opacity: 1;
	}
}

.license {
	display: block;
	max-width: 55em;
	text-align: left;
	color: var(--darkgrey);
	margin: var(--space-l3) var(--space-l2);
	
	p {
		max-width: 15em;
		font-size: 0.9em;
		margin: 0;
	}
	
	a {
		transition: color 0.3s ease;
		color: var(--darkgrey);
		
		@media (hover) {
		&:hover {
			color: var(--blue);
		}
		
		&:active {
			color: var(--darkblue);
		}
		}
	}
}

/* Tablet */
@media (min-width: 35em) {
	header {
		width: 80%;
		margin: var(--space-l3) auto;
		
		.nav {			
			h1, h2, & > a {
				font-size: 2.5em;
			}
			
			& > a {
				margin-left: -0.45em;
				
				&::before {
					top: 0.525em;
					left: -0.15em;
					height: 0.45em;
					width: 0.45em;
					border-radius: 2px;
				}
			}
		}
		
		.desc {
			font-size: 1.5em;
		}
	}

	.page-nav {
		display: inline-block;
		position: absolute;
		top: 1.35em; /* Magic numbers that… */
		left: 5.9em; /* work really well    */
		width: auto;
		font-size: 2.5em;
		padding: 0 0.25em;
		background: rgba(235, 238, 240, 0.95);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
		border-top: none;
		border-bottom: 0 solid rgba(0, 153, 204, 0);
		
		@supports (backdrop-filter: none) {
		    backdrop-filter: blur(10px);
		    background: rgba(235, 238, 240, 0.65);
		}
		
		&.active {
			border-width: 3px;
			border-color: var(--blue);
			margin-top: 0;
		}
	}

	.content {
		margin-right: auto;
		margin-left: auto;
	}
	
	.license {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

}