body {
	background: #E3E5E7;
	font: normal 300 2em "museo-sans-1", "museo-sans-2", sans-serif;
	margin: 0;
}

::selection {
    background: rgba(197,112,95,0.25);
	}
::-moz-selection {
	background: rgba(197,112,95,0.25);
}

img {
	border: none;
}

ul {
	padding: 0;
}

h1, h2, p, a {
	line-height: 2em;
	color: #444;
}

h1 {
	animation: fade-in 0.5s ease-out 0.15s forwards;
	opacity: 0;
	font-size: 1.5em;
	text-align: center;
}

a {
	transition: color 0.4s;
	color: #737373;
	text-decoration: none;
}

	a:hover {
		color: #C5705E;
	}
	
	a:active {
		color: #975143;
	}
	
.MobileLink {
	display: none;
}

.iOS .MobileLink {
	display: inline;
}

.iOS .DesktopLink {
	display: none;
}

#content {
	margin: 0 15%;
}

#intro, #start {
	animation: fade-in 0.5s ease-out 0.15s forwards;
	opacity: 0;
	float: right;
	clear: right;
	text-align: left;
	font-size: 0.7em;
	width: 50%;
}

.no-cssanimations #intro, .no-cssanimations #start {
	opacity: 1;
}

#slideshow {
	float: left;
	clear: left;
	width: 50%;
	margin: 3.5% 0 3.5% 0;
}

#slideshow img {
	animation: intro 0.95s ease-in-out 0.4s forwards;
	opacity: 0;
	width: 350px;
	box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
	transform: rotate(4deg);
}

.no-cssanimations #slideshow img {
	opacity: 1;
}

@keyframes intro {
	0% {opacity: 0; transform: scale(0.65, 0.65);}
	15% {transform: scale(0.725, 0.725) rotate(0deg);}
	100% {opacity: 1; transform: scale(1, 1) rotate(4deg);}
}

@import "../css/ShareSheet";

@media screen and (max-width: 1100px) {
body {
	font-size: 1.8em;
}

#content {
	margin: 0 10%;
}

#slideshow img {
	width: 300px;
}
}

/* iPad */
@media all and (device-width: 768px) and (device-height: 1024px) {
header, .content-wrapper {
	width: 80%;
}
}

@media screen and (max-width: 699px) {
#intro, #start {
	float: none;
	clear: both;
	width: 100%;
	margin: 0 auto;
}

#slideshow {
	float: none;
	clear: both;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 2% auto;
}

#slideshow img {
	animation-delay: 0.5s;
	width: 125px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,0.75);
}
}

@media screen and (max-device-width: 699px) {
body {
	font-size: 1em;
}

h1, h2, p, a {
	line-height: 1.5em;
}
h1 {
	margin: 3.5% auto 5%;
}

a {
	transition: none;
	color: #C5705E;
	text-decoration: none;
}

	a:hover {
		color: #C5705E;
	}
	
	a:active {
		color: #C5705E;
	}

#content {
	margin: 0 5%;
}

#content p {
	font-size: 1.5em;
}
}