{{#placed}}

<section class="feature cf {{slug}}">
	
	<div class="main-info">
		<a class="main-image" href="{{{url}}}">
			<img class="post-image" src="{{{feature_image}}}">
		</a>
		
		<div class="main-text">
			<a href="{{{url}}}">
				<h2>{{title}}</h2>
			</a>
			<p class="item-text">
				Placed is a Seattle-based interior design company helping people make spaces they call home beautiful by curating beautiful collections of items while also partnering with organizations that place children in need with families to support them.
				<br>
				<a class="item-link" href="{{{url}}}">See More</a>
			</p>
		</div>
	</div>
	
	<div class="aside one cf">
		<a href="{{{url}}}"><img class="aside-image" src="_featured/assets/placed/placed-collections.png"></a>
		<p class="aside-text">
			Beautiful collections sections help each curated collection stand out.
		</p>
	</div>
	
	<div class="aside two cf">
		<a href="{{{url}}}"><img class="aside-image" src="_featured/assets/placed/placed-shoppingbag.png"></a>
		<p class="aside-text">
			The whole site is statically hosted but provides a powerful shopping experience.
		</p>
	</div>
	
</section>

{{/placed}}
