{{> ../../partials/file-header }}

<title>Scott Smith | Scott Is…</title>

<meta name="Description" content="Anonymous posts about my identity. Created by Scott Smith.">

{{> ../../partials/meta-tags }}

<!-- CSS -->
<link rel="stylesheet" href="/styles/build/partials/global.css">
<link rel="stylesheet" href="/styles/build/partials/project.css">
<link rel="stylesheet" href="/styles/build/scott-is.css">

{{> ../../partials/typekit }}

</head>

<body>
	
<header>
	<div class="nav has-page-nav">
		<a href="/miscellanea/"><span class="sr-text">Back to </span>Miscellanea</a>
		<h1>Scott Is…</h1>
		<ul class="page-nav">
			<li><a href="../decode-archive/">Decode</a></li>
			<li><a href="../share-sheets/">Share Sheets</a></li>
			<li><a href="../social-icons/">Social Icons</a></li>
		</ul>
	</div>

	<div class="desc">
		<a href="https://scottsmith.is/"><img class="post-image" src="images/ScottIs.png"></a>
		<p>What do people think about you? We've all asked ourselves this question at some time or another. I took a stab at letting people say what they really think of me anonymously and publicly. Go ahead, roast me, or say something nice. It's all fair game. <strong><a href="https://scottsmith.is/">ScottSmith.is</a></strong></p>
	</div>
</header>
		
	<main class="content" role="main">
		
	</main>

{{> ../../partials/global-script }}

<script async type="text/javascript" src="/scripts/build/page-nav.js"></script>

</body>

</html>