{{> file-header }}

	<title>Scott Smith</title>

	<meta name="title" content="Scott Smith: Design Portfolio">
	<meta name="Description" content="Scott Smith is a designer & web developer. Passionate about crafting designs and experiences for users. Always learning.">

	{{> meta-tags }}

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/styles/partials/global.css">
	<link rel="stylesheet" href="/assets/styles/partials/project.css">
	<link rel="stylesheet" href="/assets/styles/portfolio.css">

</head>

<body>

	<header>
		<nav class="nav">
			<a href="/"><span class="sr-only">Back to </span>Scott<span class="sr-only"> Smith homepage</span></a>
			<h1><a href="/portfolio/">Portfolio</a></h1>
		</nav>
		<div class="desc hire">
			<p>These are projects I have built both individually and in collaboration with talented teams. Feel free to
				contact me through any means available on my <a href="/">home page</a> and by <a
					href="mailto:hello@ScottHSmith.com">email</a>.</p>
		</div>
	</header>

	{{! The main content area on the homepage }}
	<main class="content" role="main">

		{{#collections.featured}}
			{{> portfolio/featured/placed}}
			{{> portfolio/featured/clinicians-brief}}
		{{/collections.featured}}

	</main>

	<footer>
		<div class="secondary-items">
			<h2 class="bin-title">More Work</h2>
			<div id="secondary-items-container" class="scroll-well">
				{{> portfolio/bin}}
			</div>
		</div>
	</footer>


{{> global-script }}
<script async type="text/javascript" src="/assets/scripts/portfolio.js"></script>

</body>

</html>
