---
pagination:
  data: collections.posts
  size: 1
  alias: post
permalink: "portfolio/{{ post.slug }}/"
---
{% include 'file-header.mustache' %}

	<title>{{ post.title }} | Scott Smith</title>
	<meta name="title" content="{{ post.meta_title }}">
	<meta name="Description" content="{{ post.meta_description }}">
	{% include 'meta-tags.mustache' %}

	<!-- CSS -->
	<link rel="stylesheet" href="/assets/styles/partials/global.css">
	<link rel="stylesheet" href="/assets/styles/partials/project.css">
	<link rel="stylesheet" href="/assets/styles/portfolio.css">

</head>

<body class="post-template">

	<header>
		<nav class="nav">
			<a href="/"><span class="sr-only">Back to </span>Scott<span class="sr-only"> Smith homepage</span></a>
			<h2><a href="/portfolio/">Portfolio</a></h2>
		</nav>
	</header>

	<main class="content" role="main">

		<article class="post {% if post.featured %}featured{% endif %} {{ post.slug }}">
			<div class="post-header">
				<img class="post-image" src="{{ post.feature_image | safe }}">
				<h1 class="post-title">{{ post.title }}</h1>
			</div>

			<div class="post-content">
				{{ post.html | safe if post.html else "Page content not found" }}
			</div>
		</article>

	</main>

	<footer>
		{% include 'portfolio/bin.njk' %}
	</footer>

{% include 'global-script.mustache' %}
<script type="text/javascript" src="/assets/scripts/portfolio.js"></script>

</body>

</html>
