@import 'variables.css';
/* @require 'partials/project.css' */
/* @require 'partials/share-sheet.css' */

.AllLinks {
	text-align: center;
}

.Link {
	display: inline;
	margin: 0 0.4%;
	line-height: 3.5em;
	text-align: center;
}

.SocialIcon {
	transition: opacity 0.25s ease-out, height 0.5s ease-out, width 0.5s ease-out, transform 0.25s ease-out;
	transform: scale(0.8);
	width: auto;
	height: 4.5em;
	margin-bottom: 2.5%;
	vertical-align: middle;
	cursor: pointer;
	
	@media (hover) {
	&:hover {
	    transform: scale(1);
	}
	
	&:active {
		opacity: 0.5;
	}
	}
}

/* Desktop */
@media (min-width: 699px) {
	.Link {
		margin: 0 0.75%;
		line-height: 3.5em;
	}
}