{{> file-header }}

<title>Scott Smith | Social Icons</title>

<meta name="Description" content="Free Social Icons for 60+ social networks. Created by Scott Smith.">

{{> meta-tags }}

<!-- CSS -->
<link rel="stylesheet" href="/assets/styles/partials/global.css">
<link rel="stylesheet" href="/assets/styles/partials/project.css">
<link rel="stylesheet" href="/assets/styles/social-icons.css">

</head>

<body>

	<header>
		<div class="nav has-page-nav">
			<a href="/miscellanea/"><span class="sr-only">Back to </span>Miscellanea</a>
			<h1 tabindex="-1">Social Icons</h1>
			<ul class="page-nav">
				<li><a href="../scott-is/" tabindex="-1">Scott Is…</a></li>
				<li><a href="../decode-archive/" tabindex="-1">Decode</a></li>
				<li><a href="../share-sheets/" tabindex="-1">Share Sheets</a></li>
			</ul>
		</div>

		<div class="desc"><p>I have created a set of 62 SVG icons for social networking websites (more or less). Downloads are available in dark grey, <span class="lightcolor">light grey</span>, and <span class="bluecolor">blue</span>.</p></div>
	</header>

	<main class="content" role="main">
		<div class="grid-carousel">
			<img src="blue/IconGrid.svg?v1.14" alt="A grid of blue social icons" class="blue grid-item">
			<img src="dark/IconGrid.svg?v1.14" alt="A grid of dark grey social icons" class="dark grid-item">
			<img src="light/IconGrid.svg?v1.14" alt="A grid of light grey social icons" class="light grid-item">
		</div>
		<a href="blue/Blue%20Icons.zip?v1.14" class="blue" download="Blue Icons"><img src="blue/Download.svg" alt="download" class="download"></a>
		<a href="dark/Dark%20Icons.zip?v1.14" class="dark" download="Dark Icons"><img src="dark/Download.svg" alt="download" class="download"></a>
		<a href="light/Light%20Icons.zip?v1.14" class="light" download="Light Icons"><img src="light/Download.svg" alt="download" class="download"></a>
	</main>

	<div class="license" role="contentinfo">
		<p>This work is licensed under the <a rel="license" href="http://choosealicense.com/licenses/mit/">MIT License</a>. The logos of these companies (or likenesses thereof) are the property of their respective owners.</p>
	</div>

{{> global-script }}

<script async type="text/javascript" src="/assets/scripts/social-icons.js"></script>

<script async type="text/javascript" src="/assets/scripts/page-nav.js"></script>

</body>

</html>
