RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?scotthsmith.com/.*$ [NC]
RewriteRule \.(gif|jpg|js|css)$ - [F]

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http://(www\.)?scotthsmith.com/.*$ [NC]
RewriteRule \.(gif|jpg)$ http://www.scotthsmith.com/projects/social-icons/flipoff.png [R,L]

