{{> ../../partials/file-header }}

<title>Scott Smith | Share Sheets</title>

<meta name="Description" content="A recreation of iOS Share Sheets for the web. Created by Scott Smith.">

{{> ../../partials/meta-tags }}

<!-- CSS -->
<link rel="stylesheet" href="/styles/build/partials/global.css">
<link rel="stylesheet" href="/styles/build/partials/project.css">
<link rel="stylesheet" href="/styles/build/partials/share-sheet.css">
<link rel="stylesheet" href="/styles/build/share-sheets.css">

</head>

<body>
	
<header>
	<div class="nav has-page-nav">
		<a href="/miscellanea/"><span class="sr-text">Back to </span>Miscellanea</a>
		<h1 tabindex="-1">Share Sheets</h1>
		<ul class="page-nav">
			<li><a href="../scott-is/" tabindex="-1">Scott Is…</a></li>
			<li><a href="../decode-archive/" tabindex="-1">Decode</a></li>
			<li><a href="../social-icons/" tabindex="-1">Social Icons</a></li>
		</ul>
	</div>

	<div class="desc"><p>In order to provide a native looking experience for opening social links on iOS devices, I recreated iOS's Share Sheets in CSS and JavaScript. Feel free to copy any of the code I've written for personal use. I have provided a <a href="https://gist.github.com/ScottSmith95/4417738">Gist</a> with everything you need to get started.</p></div>
</header>
		
	<main class="content" role="main">
		<h2 class="sr-text">Select the links below to view.</h2>
		<ul class="AllLinks">
			<li class="Link">
				<a href="#" class="Twitter">
					<span class="sr-text">Click to open</span>
					<img class="SocialIcon" src="/images/Social%20Icons/twitter.svg" alt="Twitter profile" height="1" width="1">
				</a>
			</li>
			<li class="Link">
				<a href="#" class="Facebook">
					<span class="sr-text">Click to open</span>
					<img class="SocialIcon" src="/images/Social%20Icons/facebook.svg" alt="Facebook profile" height="1" width="1">
				</a>
			</li>

		</ul>
			
		<div class="license" role="contentinfo">
			<a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
				<img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png">
			</a>
			<p>This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.</p>
		</div>
	</main>
	
<!-- Share Sheets -->
<!-- Twitter Share Sheet -->
<div class="Sheet unselected" id="Twitter">
	<div class="SheetContent">
		<ul class="itemset">
			<section class="clients">
			<div class="itemcontainer">
				<li><a href="twitter://user?screen_name=ScottSmith95">
					<img class="appicon" src="images/Twitter.png" alt="">
					Twitter
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a href="twitterrific:///profile?screen_name=ScottSmith95">
					<img class="appicon" src="images/Twitterrific.png" alt="">
					Twitterrific
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a href="tweetbot:///user_profile/ScottSmith95">
					<img class="appicon" src="images/Tweetbot.png" alt="">
					Tweetbot
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a>
					<img class="appicon" src="images/Placeholder-Icon.png" alt="">
					Placeholder
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a>
					<img class="appicon" src="images/Placeholder-Icon.png" alt="">
					Placeholder
				</a></li>
			</div>
			</section>
			
			<section class="browsers">
			<div class="itemcontainer">
				<li><a href="https://twitter.com/ScottSmith95">
					<img class="appicon" src="images/Safari.png" alt="">
					Right here
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a href="googlechrome://twitter.com/ScottSmith95">
					<img class="appicon" src="images/Chrome.png" alt="">
					Chrome
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a href="ophttp://twitter.com/ScottSmith95">
					<img class="appicon" src="images/1Password.png" alt="">
					1Password
				</a></li>
			</div>
			</section>
		</ul>
		<button class="cancel">Cancel</button>
	</div>
</div>

<!-- Facebook Share Sheet -->
<div class="Sheet unselected" id="Facebook">
	<div class="SheetContent">
		<ul class="itemset">
			<section>
			<div class="itemcontainer">
				<li><a href="fb://profile/1618900176">
					<img class="appicon" src="images/Facebook.png" alt="">
					Facebook
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a href="https://facebook.com/ScottSmith95">
					<img class="appicon" src="images/Safari.png" alt="">
					Right here
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a href="googlechrome://facebook.com/ScottSmith95">
					<img class="appicon" src="images/Chrome.png" alt="">
					Chrome
				</a></li>
			</div>
			<div class="itemcontainer">
				<li><a href="ophttp://facebook.com/ScottSmith95">
					<img class="appicon" src="images/1Password.png" alt="">
					1Password
				</a></li>
			</div>
			</section>
		</ul>
		<button class="cancel">Cancel</button>
	</div>
</div>

{{> ../../partials/global-script }}

<script async type="text/javascript" src="/scripts/build/page-nav.js"></script>

<script async type="text/javascript" src="/scripts/build/share-sheets-project.js"></script>

</body>

</html>