.secondary-items {
	text-align: left;
	padding-top: var(--space-l2);
	border-top: 3px solid #D9DBDE;
	
	h2.bin-title {
		font-size: 2em;
		line-height: 1;
		margin: 0 0 var(--space-l1);
		
		.js & { /* Layout change will only with with JS, so don't hint it's clickable without it working. */
			position: relative;
			cursor: pointer;
			display: inline-block;
			
			&::after {
				transition: transform 0.3s ease-out;
				content: '';
				display: inline-block;
				position: relative; /* Position relative allows arrow to wrap to new line before text. */
				top: -0.15em;
				right: -0.25em;
				height: 0;
				width: 0;
				border-left: 0.4rem solid var(--text-color);
				border-bottom: 0.3rem solid transparent;
				border-top: 0.3rem solid transparent;
			}
			
			&.active::after {
				transform: rotateZ(90deg);
			}
		}
	}
}

.scroll-well {
	transition: background-color 0.5s ease, box-shadow 0.5s ease;
	position: relative;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	background-color: rgba(130, 150, 156, 0.15);
	box-shadow: inset 0 4px 15px rgba(130, 150, 156, 0.25);
	padding: var(--space-l2) var(--space-l2) var(--space-l1);
	border-radius: 10px;
	
	.card.post {
		display: inline-block;
		width: 16em; /* Since images are set to 256 px and 256/16 is 16. */
		max-width: 92.5%;
		margin: 0 var(--space-l1);
		
		&:first-of-type {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
}

.grid {
	margin-top: var(--space-l1);
	
	.card {
		display: inline-block;
		margin-bottom: var(--space-l3);
		
		
		@media (min-width: 35em) {
			width: 47%;
			
			&:nth-child(odd) {
				margin-right: 5%;
			}
		}
		
		&:last-child {
			margin-bottom: 0;
		}
		
		.post-image {
			height: auto;
		}
		
		.post-title {
			font-size: 1.75em;
		}
	}
}

.card {
	&.post {
		text-align: left;
	}
	
	.post-title {
		font-size: 1.65em;
		font-family: 'caslon-graphique', var(--font-fam);
		font-weight: 700;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: var(--space-l1) 0 0;
		
		a {
			color: var(--text-color);
		}
	}
}
