.post-template {
	header {
		animation: none;
		opacity: 1;
	}
	
	.post {
		max-width: 100%;
		text-align: left;
	}
	
	.post-header {
		margin: 0 var(--space-l1);
	}
	
	h1.post-title {
		position: absolute;
		clip: rect(0 0 0 0);
		overflow: hidden;
		height: 1px;
		width: 1px;
		padding: 0;
		border: 0;
		margin: -1px;
	}
	
	.post-content {
		display: flex;
		flex-direction: column;
		max-width: 45rem;
		font-size: 1.15em;
		padding: 0 var(--space-l2);
		margin: var(--space-l2) auto 0;
		
		@supports (padding-left: env(safe-area-inset-left)) {
			padding-left: calc(var(--space-l2) + env(safe-area-inset-left));
			padding-right: calc(var(--space-l2) + env(safe-area-inset-right));
		}
		
		img,
		video,
		iframe {
			max-width: 100%;
		}
		
		img {
			display: block;
			height: auto;
			margin: var(--space-l1) 0;
		}
		
		h2 {
			font-family: 'caslon-graphique', var(--font-fam);
			font-weight: 700;
			margin-top: var(--space-l2);
			margin-bottom: 0;
		}
		
		p {
			margin-top: 0;
		}
		
		a {
			text-decoration: underline;
		}
		
		ul,
		ol {
			padding-left: var(--space-l2);
		}
	}
	
	figure.kg-embed-card {
		margin: var(--space-l2) auto;
		
		iframe {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	figure.kg-image-card,
	figure.kg-gallery-card {
		margin: var(--space-l1) 0;
		text-align: left;
		
		&.kg-width-wide {
			img.kg-image {
				max-width: calc(100% + 2 * var(--space-l2));
				margin-left: calc(-1 * var(--space-l2));
			}
		}
		
		&.kg-width-full,
		&.kg-gallery-card {
			align-self: center;
			
			img.kg-image {
				width: 100vw;
				max-width: 100vw;
			}
			
			figcaption {
				max-width: calc(100% - 2 * var(--space-l2));
				
				@media (min-width: 45em) {
					max-width: calc(45rem - 2 * var(--space-l2));
				}
			}
		}
		
		figcaption {
			color: var(--light-text-color);
			text-align: left;
			font-size: 0.85em;
			font-style: italic;
			padding: 0 0 var(--space-l2);
			margin: 0 auto;
		}
	}
	
	.kg-gallery-container {
		display: flex;
		flex-direction: column;
		margin: var(--space-l2) auto;
		max-width: 65rem;
		width: 100vw;
	}
	
	.kg-gallery-row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.kg-gallery-image img {
		display: block;
		margin: 0;
		width: 100%;
		height: 100%;
	}
	
	.kg-gallery-row:not(:first-of-type) {
		margin: var(--space-l1) 0 0;
	}
	
	.kg-gallery-image:not(:first-of-type) {
		margin: 0 0 0 var(--space-l1);
	}
}

/* Tablet */
@media (min-width: 35em) {
.post-template {
	.post-header {
		margin: 0 var(--space-l2);
	}
	
	.post-content {
		font-size: 1.25em;
		margin-top: var(--space-l3);
		margin-bottom: var(--space-l3);
		
		ul,
		ol {
			padding-left: var(--space-l3);
		}
	}
}
}