{{#bin}}

<article class="card">
	
	<a href="{{{url}}}">
		<img class="post-image" src="{{{feature_image}}}" width="256" height="160">
	</a>
	<h3 class="post-title">
		<a href="{{{url}}}">{{title}}</a>
	</h3>
	
</article>

{{/bin}}