{{> ../file-header }}

<title>404 Error</title>

<base href="https://scotthsmith.com/">

{{> ../meta-tags }}

<!-- CSS -->
<link rel="stylesheet" href="/assets/styles/partials/global.css">
<link rel="stylesheet" href="/assets/styles/error.css">

</head>

<body class="fourohfour">

<div class="container">
<main>
	<h1>404</h1>
	<p>It is what it is.<br><br>This page doesn't exist but you might be able to find what you are looking for from my homepage.</p>
	<a class="home-link" href="https://scotthsmith.com/">ScottHSmith.com</a>
</main>
</div>

</body>

</html>
