@import 'variables.css';
/* @require 'partials/project.css' */

header {
	position: relative; /* Create stacking context and set z-index */
	z-index: 1;
}

.screenshot-box {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 10em;
	background-color: var(--darkgrey);
	
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 15px;
		background: linear-gradient(to top, rgba(0, 0, 0, 0.1), transparent);
	}
	
	.bubble {
		display: inline-block;
		pointer-events: none;
		position: absolute;
		z-index: 3;
		bottom: 5%;
		left: 0;
		right: 0;
		color: #FFF;
		max-width: 40%;
		font-size: 1.25em;
		text-align: center;
		background-color: rgba(127, 127, 127, 0.9);
		padding: 0.1em 0;
		border-radius: 0.35em;
		box-shadow: 0 2px 15px rgba(0, 0, 0, 0.35);
		margin: 0 auto;
	}
	
	a {
		display: block;
	}
	
	img {
		animation: pop-closed 0.75s ease-out 0.5s backwards;
		display: block;
		position: relative;
		top: 1em;
		width: 75%;
		margin: 0 auto;
		box-shadow: 0 0 5px rgba(0,0,0,0.75);
	}
	
	@media (hover) {
	& a img {
		transition: opacity 0.25s ease-out, transform 0.25s ease;
		transform: translateY(0%);
		opacity: 1;
	}
	
	& a:hover img {
		transform: translateY(-5%);
	}
	
	& a:active img {
		transform: translateY(0%);
		opacity: 0.75;
	}
	}
}

.content {
	margin-top: 0;
}

.content section {
	display: flex;
	align-items: flex-start;
	max-width: 50rem;
	padding: var(--space-l1) 0;
	text-align: left;
	margin: 0 auto;
	
	&.archived {
		filter: grayscale(100%);
	}
}

.dark-break {
	background-color: var(--darkgrey);
	color: #FFF;
	position: relative;
	width: 100vw;
	left: calc(-50vw + 50%);
	
	section {
		width: 92.5%;
		max-width: 40rem;
	}
}


.no-flexbox .content section {
	clear: both;
}

.section-head {
	flex: 0 1 auto;
	width: 4em;
	max-width: 200px;
	height: auto;
	max-height: 200px;
	margin-top: 1em; /* Aligns section head with top of paragraph */
}

.no-flexbox .section-head {
	float: left;
}

.desc {
	flex: 4 3 75%;
	font-size: 1em;
	line-height: 1.5;
	margin: 0 auto;
}

.no-flexbox .desc {
	overflow: hidden;
}

.desc p {
	margin: 0.5em 0;
}

:root {
	--active-button: #35495D;
}

.options .button {
	margin-right: 0.5em;
		
	&:last-child {
		margin-right: 0;
	}
	
	&.demo {
		background-color: #E62A8B;
		
		@media (hover) {
		&:hover {
			background-color: #CC257B;
		}
		
		&:active {
			background-color: var(--active-button);
		}
		}
	}
	
	&.download,
	&.buy {
		background-color: #29E677;
		
		@media (hover) {
		&:hover {
			background-color: #24CC6A;
		}
		
		&:active {
			background-color: var(--active-button);
		}
		}
	}
	
	&.release-notes {
		background-color: #29C2E5;
		
		@media (hover) {
		&:hover {
			background-color: #25ADCC;
		}
		
		&:active {
			background-color: var(--active-button);
		}
		}
	}
	
	&.docs {
		background-color: #E6512A;
		
		@media (hover) {
		&:hover {
			background-color: #CC4825;
		}
		
		&:active {
			background-color: var(--active-button);
		}
		}
	}
}

section.email {
	font-size: 1.25em;
	
	h2 {
		margin: 1.5% 0 2.5%;
	}
	
	input[type="email"] {
		transition: border-color 0.25s ease;
		color: var(--text-color);
		font-size: 1em;
		padding: 0.25em 0.5em;
		border: 2px solid var(--blue);
		border-radius: 0.35em;
		outline: none;
		margin: 0;
		
		&:hover,
		&:focus  {
			border-color: #00CC48;
		}
	}
	
	input[type="submit"] {
		font-size: 1em;
		padding: 0.3em 0.5em;
	
		&:hover {
			background-color: #00CC48;
		}
		
		&:active,
		&:focus {
			background-color: #00A23A;
		}
	}
}

section.donate {
	padding-bottom: 5%;
	margin-bottom: 0;
}

.button {
	transition: background-color 0.25s ease-out;
	display: inline-block;
	box-sizing: border-box;
	padding: 0.25em 0.5em;
	border: none;
	border-radius: 0.35em;
	margin: 2.5% auto 1.25%;
	color: #FFFFFF;
	background-color: var(--blue);
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	cursor: pointer;

	-webkit-appearance: none;
}

.button:hover, .button:active, .button:focus {
	outline: none;
	color: #FFFFFF;
}

.donate .button {
	font-size: 1.1em;
	background-color: var(--blue);
	margin: 2.5% auto 1.25% 0.5em;
	
	@media (hover) {
	&:hover {
		background-color: #00CC48;
	}
	}
}

.donate .button:active, .donate .button:focus {
	background-color: #00A23A;
}

/* Tablet */
@media (min-width: 35em) {
	.screenshot-box {
		height: 15em;
		
		.bubble {
			max-width: 25%;
		}
	}

	.screenshot-box img {
		top: 2em;
		width: 65%;
	}

	.content section {
		text-align: left;

		align-items: center;
	}

	.section-head {
		width: 8em;
		margin-top: 0;
	}

	.desc {
		font-size: 1.2em;
	}

	.desc p {
		margin: 1em 0;
	}

	.donate .button {
		font-size: 1.25em;
	}
}

/* Desktop */
@media (min-width: 50em) {
	.screenshot-box {
		.bubble {
			max-width: 15%;
		}
		
		img {
			width: 40%;
		}		
	}

	.section-head {
		width: 15em;
	}

	.desc {
		line-height: 2;
	}
}

@keyframes pop-closed {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(15%);
	}
	60% {
		transform: translateY(5%);
	}
}