@import 'variables.css';
@import 'partials/background-pattern.css';

.container {
	margin: 0 auto;
}

.header-image {
	animation: header-image 1s ease-out 300ms backwards;
	width: 100%;
	width: calc(100% - var(--space-l1));
	height: auto;
	box-shadow: 0 0 55px 0 rgba(83, 108, 104, 0.6);
}

header {
	padding-bottom: var(--space-l2);
	margin-top: -2.25rem;
}

.name,
.tagline {
	padding-right: var(--space-l1);
	margin: 0;
}

.name {
	z-index: 1; /* Fixes some overlapping issues during animations. (WebKit) */
	text-align: right;
	padding-left: 0;
	
	.first,
	.last {
		display: block;
		animation: name-first 1s ease-out 300ms backwards;
	}
	
	.first {
		animation-name: name-first;
		filter: drop-shadow(0 2px 12px rgba(0, 153, 204, 0.5));
	}
	
	.last {
		animation-name: name-last;
		filter: drop-shadow(0 2px 12px rgba(83, 195, 202, 0.5));
		margin-top: 1em;
	}
	
	.text {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	
	svg {
		height: 3.5rem;
		width: auto;
	}
}

.tagline {
	font: 300 2em/1.5 var(--font-fam);
	text-align: right;
	list-style: none;
	margin-top: var(--space-l1);

	li {
		position: relative;
		z-index: 0;
		
		&::after {
			content: '';
			animation: taglines-left 1s cubic-bezier(0.3, 0.03, 0, 1.63) 300ms backwards;
			position: absolute;
			z-index: -1;
			height: 0.35em;
			width: 3em;
			bottom: 10px;
			right: -6px;
			background-color: var(--turquoise);
		}
		
		&:nth-child(1)::after {
			right: 45px;
		}
		&:nth-child(2)::after {
			animation-name: taglines-right;
			width: 3.25em;
			bottom: 7px;
			right: -16px;
		}
		&:nth-child(3)::after {
			width: 2.75em;
			right: -4px;
		}
	}
}

section {
	padding: var(--space-l2) var(--space-l1);
	border-top: 3px solid #DEDEDE;
	
	p {
		font-size: 1.25em;
		line-height: 1.5;
		margin: 0;
		
		a {
			color: var(--text-color);
			
			@media (hover) {
			&:hover {
				color: var(--blue);
			}
			
			&:active {
				color: var(--darkblue);
			}
			}
		}
	}
}

nav {
	display: inline-block;
	font-size: 1.75em;
	margin: 0 auto var(--space-l1);
}

nav a {
	display: inline;
	text-decoration: underline;
	margin-right: var(--space-l1);
}

.social {
	.icons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		list-style: none;
		margin-top: var(--space-l1);
	}
	
	.link {
		display: inline;
		margin-right: 5%;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	.icon {
		width: 100%;
		max-width: 4.25em;
		backface-visibility: visible;
		
		&:hover {
			animation: social-icon 0.5s ease;
		}
	}	
}

@media (min-width: 22em) {
	.header-image {
		width: calc(100% - var(--space-l2));
	}
	
	.name,
	.tagline {
		padding-right: var(--space-l2);
	}
	
	.name svg {
		height: 4.75em;
	}
	
	nav {
		font-size: 2em;
	}
	
	.icons {
		max-width: 25em;
	}
}

@media (min-width: 35em) {
	header,
	section {
		margin-right: var(--space-l2);
		margin-left: var(--space-l2);
	}
	
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}
	
	.name,
	.tagline {
		padding: 0;
	}
	
	.name {
		margin-left: 0.5em;
	}

	.tagline {
		margin-top: none;
	}
	
	section {
		padding-right: 0;
		padding-left: 0;
		
		p {
			font-size: 1.5em;
		}
	}
	
	.social .icon {
		max-width: 3.5em;
	}
}

@media (min-width: 50em) {
	.container {
		max-width: 35em;
	}
	
	.header-image {
		display: block;
		max-width: 100%;
		width: auto;
		margin-right: auto;
		margin-left: auto;
	}
	
	header,
	section {
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (max-height: 27.5em) {
	.header-image {
		width: auto;
		max-height: 60vh;
		margin-left: 0;
		margin-bottom: -2.5rem;
	}
}

/* ----------------- */
/*     Animations    */
/* ----------------- */
@keyframes header-image {
	from {
		opacity: 0;
		transform: translateX(7.5%) translateY(-25%);
	}
	60% {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		transform: translateX(0) translateY(0);
	}
}

@keyframes name-first {
	from {
		opacity: 0;
		transform: translateX(5%) translateY(15%);
	}
	60% {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}

@keyframes name-last {
	from {
		opacity: 0;
		transform: translateX(10%) translateY(30%);
	}
	60% {
		opacity: 1;
		transform: translateX(0);
	}
	to {
		opacity: 1;
		transform: translateX(0) translateY(0);
	}
}

@keyframes taglines-left {
	from {
		opacity: 0;
		transform: translateY(15%) translateX(35%);
	}
	60% {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes taglines-right {
	from {
		opacity: 0;
		transform: translateY(15%) translateX(-35%);
	}
	60% {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes social-icon {
	from {
		transform: scale(1, 1);
	}
	30% {
		transform: scale(1.25, 0.75);
	}
	40% {
		transform: scale(0.75, 1.25);
	}
	50% {
		transform: scale(1.15, 0.85);
	}
	65% {
		transform: scale(0.95, 1.05);
	}
	75% {
		transform: scale(1.05, 0.95);
	}
	to {
		transform: scale3d(1, 1);
	}
}