@import 'variables.css';
/* @require 'partials/share-sheet.css' */

a {
	color: var(--text-color);
	
	@media (hover) {
	&:hover {
		color: var(--blue);
	}
	
	&:active {
		color: var(--darkblue);
	}
	}
}

.container {
	margin: 0 auto;
}

.header-image {
	width: 100%;
	width: calc(100% - 1.25rem);
	height: auto;
	box-shadow: 0px 4px 55px 0px rgba(83, 108, 104, 0.4);
}

.name,
.tagline {
	text-align: right;
	padding-right: 1.25rem;
	margin: 1.25rem 0;
}

@keyframes glow-blue {
	from {
		color: var(--blue);
		text-shadow: 0px 2px 15px rgba(0, 153, 204, 0.65);
	}
	to {
		color: rgba(0, 153, 204, 0.8);
		text-shadow: 0px 2px 10px rgba(0, 153, 204, 0.35);
	}
}

@keyframes glow-turquoise {
	from {
		color: var(--turquoise);
		text-shadow: 0px 2px 15px rgba(83, 195, 202, 0.65);
	}
	to {
		color: rgba(83, 195, 202, 0.8);
		text-shadow: 0px 2px 10px rgba(83, 195, 202, 0.35);
	}
}

.name {
	font: 5em/0.85 "acier-bat-gris-1", "acier-bat-gris-2", sans-serif;
	padding-left: 0;
	margin-top: -2.5rem;
	
	.first {
		animation: glow-blue 2s ease-out infinite alternate;
		color: var(--blue);
		text-shadow: 0px 2px 15px rgba(0, 153, 204, 0.65);
	}
	
	.last {
		animation: glow-turquoise 2s ease-out 0.5s infinite alternate both;
		color: var(--turquoise);
		text-shadow: 0px 2px 15px rgba(83, 195, 202, 0.65);
	}
}

@keyframes taglines-left {
	from {
		opacity: 0;
		transform: translateY(15%) translateX(35%);
	}
	40% {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes taglines-right {
	from {
		opacity: 0;
		transform: translateY(15%) translateX(-35%);
	}
	40% {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		transform: translateX(0);
	}
}

.tagline {
	font: 300 2em/1.5 var(--font-fam);
	list-style: none;

	li {
		position: relative;
		
		&::after {
			content: '';
			animation: taglines-left 1s ease-out both;
			position: absolute;
			z-index: -1;
			height: 0.35em;
			width: 3em;
			bottom: 10px;
			right: -6px;
			background-color: var(--turquoise);
		}
		
		&:nth-child(1)::after {
			right: 45px;
		}
		&:nth-child(2)::after {
			animation-name: taglines-right;
			anim
			width: 3.25em;
			bottom: 7px;
			right: -16px;
		}
		&:nth-child(3)::after {
			width: 2.75em;
			right: -4px;
		}
	}
}

section {
	padding: 2.5rem 1.25rem;
	border-top: 3px solid #DEDEDE;
	
	p {
		font-size: 1.5em;
		line-height: 1.5;
		margin: 0;
	}
}

nav {
	display: inline-block;
	font-size: 2em;
	margin: 0 auto 1.25rem;
}

nav a {
	display: inline;
	color: var(--blue);
	text-decoration: underline;
	margin-right: 1.25rem;
}

@keyframes rubber-band {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.social {
	.icons {
		list-style: none;
		margin-top: 1.25rem;
	}
	
	.link {
		display: inline;
		margin-right: 5%;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	.icon {
		width: 20%;
		max-width: 4.25em;
		backface-visibility: visible;
		
		&:hover {
			animation: rubber-band 0.5s ease;
		}
	}	
}

@media (min-width: 22em) {
	.header-image {
		width: calc(100% - 2.5rem);
	}
	
	.name,
	.tagline {
		padding-right: 2.5rem;
	}
	
	.name {
		font-size: 7em;
	}
}

@media (min-width: 35em) {
	header,
	section {
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	.name,
	.tagline {
		padding: 0;
	}
	
	.name {
		line-height: 0.95;
		margin-top: -2.5rem;
	}
	
	section {
		padding-right: 0;
		padding-left: 0;
	}
	
	.social .icon {
		max-width: 3.5em;
	}
}

@media (min-width: 50em) {
	.container {
		max-width: 52.5em;
	}
	
	.header-image {
		display: block;
		max-width: 35em;
		max-height: 80vh;
		width: auto;
		margin: 0 auto;
	}
	
	header,
	section {
		max-width: 35em;
		margin: 0 auto;
	}
}