:root {
	/* Colors */
	--blue: #009BCD;
	--turquoise: #53C2C9;
	--darkblue: #007EA6;
	--darkgrey: #444444;
	--lightgrey: #82969C;
	--text-color: #444444;
	--bg-color: #ECEEF0;
	--highlight-color: RGBA(147, 187, 201, 0.5);
	
	/* Fonts */
	--font-fam: museo-sans, sans-serif;
	
	/* Spacing */
	--space-l1: 1.25rem;
	--space-l2: 2.5rem;
}