:root {
	/* Colors */
	--blue: #009BCD;
	--turquoise: #53C2C9;
	--darkblue: #007EA6;
	--darkgrey: #444444;
	/* --light-grey: #82969C; */ /* Deprecated: Do not use for text. */
	--text-color: #444444;
	--light-text-color: #5C6F75;
	--large-light-text-color: #63787E;
	--bg-color: #ECEEF0;
	--divider-color: #D9DBDE;
	--highlight: rgba(147, 187, 201, 0.5);
	
	/* Fonts */
	--font-fam: 'IBM Plex Sans', sans-serif;
	
	/* Spacing */
	--space-l1: 0.625rem;
	--space-l2: 1.25rem;
	--space-l3: 2.5rem;
	--space-l4: 5rem;
}