<section class="feature cf {{ collections.featured.careerCanvas.slug }}">

	<div class="main-info">
		<a class="main-image" href="{{ collections.featured.careerCanvas.url | safe }}">
			<img class="post-image" src="{{ collections.featured.careerCanvas.feature_image | safe }}">
		</a>

		<div class="main-text">
			<a href="{{ collections.featured.careerCanvas.url | safe }}">
				<h2>{{ collections.featured.careerCanvas.title }}</h2>
			</a>
			<p class="item-text">
				Career Canvas is a class-leading writing service providing everyone, from interns to executives, professionally written résumés. I created branding and did all front-end web design and development.
				<br>
				<a class="item-link" href="{{ collections.featured.careerCanvas.url | safe }}">See More</a>
			</p>
		</div>
	</div>

	<div class="aside one cf">
		<a href="{{ collections.featured.careerCanvas.url | safe }}"><img class="aside-image" src="/assets/images/portfolio-features/careerCanvas/dashboard.png"></a>
		<p class="aside-text">
			The user and admin dashboards alike are designed with crisp typography and easy to understand layout. Experiences for end users should not be an afterthought.
		</p>
	</div>

	<div class="aside two cf">
		<a href="{{ collections.featured.careerCanvas.url | safe }}"><img class="aside-image" src="/assets/images/portfolio-features/careerCanvas/header-mobile.png"></a>
		<p class="aside-text">
			The header is accessible to keyboard and screen reader users and does not require a manual to understand the site's hierarchy.
		</p>
	</div>

</section>
