{{#cliniciansBrief}}

<section class="feature cf {{slug}}">

	<div class="main-info">
		<a class="main-image" href="{{{url}}}">
			<img class="post-image" src="{{{feature_image}}}">
		</a>

		<div class="main-text">
			<a href="{{{url}}}">
				<h2>{{title}}</h2>
			</a>
			<p class="item-text">
				Clinician's Brief is the foremost peer-reviewed journal for veterinarians. I designed and implemented redesigns for the entire site, as well as its sister site, Veterinary Team Brief.
				<br>
				<a class="item-link" href="{{{url}}}">See More</a>
			</p>
		</div>
	</div>

	<div class="aside one cf">
		<a href="{{{url}}}"><img class="aside-image" src="/assets/images/portfolio-features/brief-media/detail.png"></a>
		<p class="aside-text">
			The navigation is designed to be immediately understood and not distract from the reading or browsing experience of the site. The lower half only appears on article pages to provide sharing and saving features.
		</p>
	</div>

	<div class="aside two cf">
		<a href="{{{url}}}"><img class="aside-image" src="/assets/images/portfolio-features/brief-media/logo.svg"></a>
		<p class="aside-text">
			The Clinician's Brief site has been selected as a finalist for two Folio: Ozzie design awards. Two articles have been selected as finalists for a Folio: Eddie award.
		</p>
	</div>

</section>

{{/cliniciansBrief}}
