{{#evo}}

<section class="feature cf {{slug}}">

	<div class="main-info">
		<a class="main-image" href="{{{url}}}">
			<img class="post-image" src="{{{feature_image}}}">
		</a>

		<div class="main-text">
			<a href="{{{url}}}">
				<h2>{{title}}</h2>
			</a>
			<p class="item-text">
				EVO and Company is a new clothing brand for active people. This project features branding, front-end web design, and development work.
				<br>
				<a class="item-link" href="{{{url}}}">See More</a>
			</p>
		</div>
	</div>

	<div class="aside one cf">
		<a href="{{{url}}}"><img class="aside-image" src="/assets/images/portfolio-features/evo/detail.png"></a>
		<p class="aside-text">
			I created a dark mode toggle for users desiring a high-contrast experience. It is usable for anyone and adds a much better experience for users with impaired vision.
		</p>
	</div>

	<div class="aside two cf">
		<a href="{{{url}}}"><img class="aside-image" src="/assets/images/portfolio-features/evo/logo.svg"></a>
		<p class="aside-text">
			The project is off to a great start. The site is expanding quickly to fit the evolving needs of the company.
		</p>
	</div>

</section>

{{/evo}}
